Repository GStreamer/gstreamer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

build nodebug fedora x86_64:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: GIT_BRANCH=$CI_COMMIT_REF_NAME GIT_URL=$CI_REPOSITORY_URL bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
  ...

build clang fedora x86_64:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: GIT_BRANCH=$CI_COMMIT_REF_NAME GIT_URL=$CI_REPOSITORY_URL bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
  ...

build vs2019 amd64:
  image: $WINDOWS_IMAGE
  stage: build
  tags:
  - docker
  - windows
  - '1809'
  needs:
  - windows amd64 docker
  timeout: 45min
  variables:
    MESON_ARGS: '${DEFAULT_MESON_ARGS} -Dpython=disabled -Dlibav=disabled -Dvaapi=disabled -Dgst-plugins-base:pango=enabled -Dgst-plugins-good:cairo=enabled
  
      '
  ...

build vs2019 x86:
  image: $WINDOWS_IMAGE
  stage: build
  tags:
  - docker
  - windows
  - '1809'
  needs:
  - windows amd64 docker
  timeout: 45min
  variables:
    MESON_ARGS: '${DEFAULT_MESON_ARGS} -Dpython=disabled -Dlibav=disabled -Dvaapi=disabled -Dgst-plugins-base:pango=enabled -Dgst-plugins-good:cairo=enabled
  
      '
  ...

build vs2019 arm64 uwp:
  image: $WINDOWS_IMAGE
  stage: build
  tags:
  - docker
  - windows
  - '1809'
  needs:
  - windows amd64 docker
  timeout: 45min
  variables:
    MESON_ARGS: '${DEFAULT_MESON_ARGS} -Dpython=disabled -Dlibav=disabled -Dvaapi=disabled -Dgst-plugins-base:pango=enabled -Dgst-plugins-good:cairo=enabled
  
      '
  ...

check fedora:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: GIT_BRANCH=$CI_COMMIT_REF_NAME GIT_URL=$CI_REPOSITORY_URL bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
  ...

integration testsuites fedora:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: GIT_BRANCH=$CI_COMMIT_REF_NAME GIT_URL=$CI_REPOSITORY_URL bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
  ...

gstreamer-full static build:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: GIT_BRANCH=$CI_COMMIT_REF_NAME GIT_URL=$CI_REPOSITORY_URL bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
  ...

valgrind core:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: GIT_BRANCH=$CI_COMMIT_REF_NAME GIT_URL=$CI_REPOSITORY_URL bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
  ...

multiudpsink: allow binding to IPv6 address
  subprojects/gst-plugins-good/gst/udp/gstmultiudpsink.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

gst-docs: Fix typo in hotdoc kwarg
  subprojects/gst-docs/meson.build
Due: build documentation

webrtc/nice: fix small leak of split strings
  subprojects/gst-plugins-bad/gst-libs/gst/webrtc/nice/nice.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

gst-play: Don't leak the stream collection
  subprojects/gst-plugins-base/tools/gst-play.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

rtmp2sink: Correctly return GST_FLOW_ERROR on error
  subprojects/gst-plugins-bad/gst/rtmp2/gstrtmp2sink.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

webrtc/nice: fix small leak of split strings
  subprojects/gst-plugins-bad/ext/webrtc/gstwebrtcice.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

examples/webrtc/signalling: Fix compatibility with Python 3.10
  subprojects/gst-examples/webrtc/signalling/room-client.py
  subprojects/gst-examples/webrtc/signalling/session-client.py
Due: cerbero trigger

meson: Update flex, bison, and nasm
  subprojects/win-flex-bison-binaries/meson.build
  subprojects/win-nasm/meson.build
Due: none

ci: Run windows jobs when win-* binary subprojects are updated
  .gitlab-ci.yml
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

examples/webrtc: don't use factory_make_full() for enums
  subprojects/gst-examples/webrtc/sendrecv/gst/webrtc-sendrecv.c
Due: cerbero trigger

rtpbuffer: Initialize extended timestamp to the first wraparound period
  subprojects/gst-plugins-base/gst-libs/gst/rtp/gstrtpbuffer.c
  subprojects/gst-plugins-base/tests/check/libs/rtp.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

urisourcebin: Fix usage of raw and non-raw source provider
  subprojects/gst-plugins-base/gst/playback/gsturisourcebin.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

base: Add/fix annotations in GstQueueArray
  subprojects/gstreamer/libs/gst/base/gstqueuearray.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

check: Add/fix various annotations
  subprojects/gstreamer/libs/gst/check/gstharness.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

video: Add/fix various annotations
  subprojects/gst-plugins-base/gst-libs/gst/video/gstvideodecoder.c
  subprojects/gst-plugins-base/gst-libs/gst/video/gstvideoencoder.c
  subprojects/gst-plugins-base/gst-libs/gst/video/gstvideometa.c
  subprojects/gst-plugins-base/gst-libs/gst/video/gstvideotimecode.c
  subprojects/gst-plugins-base/gst-libs/gst/video/video-anc.c
  subprojects/gst-plugins-base/gst-libs/gst/video/video-anc.h
  subprojects/gst-plugins-base/gst-libs/gst/video/video-converter.c
  subprojects/gst-plugins-base/gst-libs/gst/video/video-format.c
  subprojects/gst-plugins-base/gst-libs/gst/video/video-info.c
  subprojects/gst-plugins-base/gst-libs/gst/video/video-multiview.c
  subprojects/gst-plugins-base/gst-libs/gst/video/video-overlay-composition.c
  subprojects/gst-plugins-base/gst-libs/gst/video/video-sei.h
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

controller: Add/fix various annotations
  subprojects/gstreamer/libs/gst/controller/gsttimedvaluecontrolsource.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

validate: Add/fix various annotations
  subprojects/gst-devtools/validate/gst/validate/gst-validate-bin-monitor.c
  subprojects/gst-devtools/validate/gst/validate/gst-validate-element-monitor.c
  subprojects/gst-devtools/validate/gst/validate/gst-validate-monitor.c
  subprojects/gst-devtools/validate/gst/validate/gst-validate-pad-monitor.c
  subprojects/gst-devtools/validate/gst/validate/gst-validate-pipeline-monitor.c
  subprojects/gst-devtools/validate/gst/validate/gst-validate-report.c
  subprojects/gst-devtools/validate/gst/validate/gst-validate-reporter.c
  subprojects/gst-devtools/validate/gst/validate/gst-validate-scenario.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

gl: Add/fix various annotations
  subprojects/gst-plugins-base/gst-libs/gst/gl/cocoa/gstgldisplay_cocoa.m
  subprojects/gst-plugins-base/gst-libs/gst/gl/egl/gsteglimage.c
  subprojects/gst-plugins-base/gst-libs/gst/gl/egl/gstgldisplay_egl.c
  subprojects/gst-plugins-base/gst-libs/gst/gl/egl/gstgldisplay_egl_device.c
  subprojects/gst-plugins-base/gst-libs/gst/gl/gstglbasememory.c
  subprojects/gst-plugins-base/gst-libs/gst/gl/gstglbasememory.h
  subprojects/gst-plugins-base/gst-libs/gst/gl/gstglbufferpool.c
  subprojects/gst-plugins-base/gst-libs/gst/gl/gstglcolorconvert.c
  subprojects/gst-plugins-base/gst-libs/gst/gl/gstglcontext.c
  subprojects/gst-plugins-base/gst-libs/gst/gl/gstgldisplay.c
  subprojects/gst-plugins-base/gst-libs/gst/gl/gstglformat.c
  subprojects/gst-plugins-base/gst-libs/gst/gl/gstglshader.c
  subprojects/gst-plugins-base/gst-libs/gst/gl/gstglsl.c
  subprojects/gst-plugins-base/gst-libs/gst/gl/gstglviewconvert.c
  subprojects/gst-plugins-base/gst-libs/gst/gl/viv-fb/gstgldisplay_viv_fb.c
  subprojects/gst-plugins-base/gst-libs/gst/gl/wayland/gstgldisplay_wayland.c
  subprojects/gst-plugins-base/gst-libs/gst/gl/x11/gstgldisplay_x11.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

net: Add/fix various annotations
  subprojects/gstreamer/libs/gst/net/gstnetaddressmeta.c
  subprojects/gstreamer/libs/gst/net/gstnettimepacket.c
  subprojects/gstreamer/libs/gst/net/gstnettimeprovider.c
  subprojects/gstreamer/libs/gst/net/gstntppacket.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

rtp: Add/fix various annotations
  subprojects/gst-plugins-base/gst-libs/gst/rtp/gstrtcpbuffer.c
  subprojects/gst-plugins-base/gst-libs/gst/rtp/gstrtpbasedepayload.c
  subprojects/gst-plugins-base/gst-libs/gst/rtp/gstrtpbasepayload.c
  subprojects/gst-plugins-base/gst-libs/gst/rtp/gstrtpbuffer.c
  subprojects/gst-plugins-base/gst-libs/gst/rtp/gstrtphdrext.c
  subprojects/gst-plugins-base/gst-libs/gst/rtp/gstrtpmeta.c
  subprojects/gst-plugins-base/gst-libs/gst/rtp/gstrtppayloads.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

pbutils: Add/fix various annotations
  subprojects/gst-plugins-base/gst-libs/gst/pbutils/codec-utils.c
  subprojects/gst-plugins-base/gst-libs/gst/pbutils/descriptions.c
  subprojects/gst-plugins-base/gst-libs/gst/pbutils/encoding-profile.c
  subprojects/gst-plugins-base/gst-libs/gst/pbutils/encoding-target.c
  subprojects/gst-plugins-base/gst-libs/gst/pbutils/gstdiscoverer-types.c
  subprojects/gst-plugins-base/gst-libs/gst/pbutils/gstdiscoverer.c
  subprojects/gst-plugins-base/gst-libs/gst/pbutils/missing-plugins.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

webrtc: Add/fix various annotations
  subprojects/gst-examples/webrtc/sendrecv/gst/custom_agent.c
  subprojects/gst-plugins-bad/gst-libs/gst/webrtc/ice.c
  subprojects/gst-plugins-bad/gst-libs/gst/webrtc/ice.h
  subprojects/gst-plugins-bad/gst-libs/gst/webrtc/icetransport.c
  subprojects/gst-plugins-bad/gst-libs/gst/webrtc/icetransport.h
  subprojects/gst-plugins-bad/gst-libs/gst/webrtc/nice/nice.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

app: Add/fix various annotations
  subprojects/gst-plugins-base/gst-libs/gst/app/gstappsink.c
  subprojects/gst-plugins-base/gst-libs/gst/app/gstappsrc.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

rtsp: Add/fix various annotations
  subprojects/gst-plugins-base/gst-libs/gst/rtsp/gstrtspconnection.c
  subprojects/gst-plugins-base/gst-libs/gst/rtsp/gstrtspdefs.c
  subprojects/gst-plugins-base/gst-libs/gst/rtsp/gstrtspmessage.c
  subprojects/gst-plugins-base/gst-libs/gst/rtsp/gstrtsptransport.c
  subprojects/gst-plugins-base/gst-libs/gst/rtsp/gstrtspurl.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

audio: Add/fix various annotations
  subprojects/gst-plugins-base/gst-libs/gst/audio/audio-channel-mixer.c
  subprojects/gst-plugins-base/gst-libs/gst/audio/audio-converter.c
  subprojects/gst-plugins-base/gst-libs/gst/audio/audio-info.c
  subprojects/gst-plugins-base/gst-libs/gst/audio/audio-resampler.c
  subprojects/gst-plugins-base/gst-libs/gst/audio/audio.c
  subprojects/gst-plugins-base/gst-libs/gst/audio/gstaudiobasesink.c
  subprojects/gst-plugins-base/gst-libs/gst/audio/gstaudiobasesrc.c
  subprojects/gst-plugins-base/gst-libs/gst/audio/gstaudiodecoder.c
  subprojects/gst-plugins-base/gst-libs/gst/audio/gstaudioencoder.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

badaudio: Add/fix annotations
  subprojects/gst-plugins-bad/gst-libs/gst/audio/gstnonstreamaudiodecoder.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

rtsp-server: Add/fix various annotations
  subprojects/gst-rtsp-server/gst/rtsp-server/rtsp-auth.c
  subprojects/gst-rtsp-server/gst/rtsp-server/rtsp-latency-bin.c
  subprojects/gst-rtsp-server/gst/rtsp-server/rtsp-media-factory.c
  subprojects/gst-rtsp-server/gst/rtsp-server/rtsp-media.c
  subprojects/gst-rtsp-server/gst/rtsp-server/rtsp-onvif-media-factory.c
  subprojects/gst-rtsp-server/gst/rtsp-server/rtsp-server.c
  subprojects/gst-rtsp-server/gst/rtsp-server/rtsp-stream.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, build documentation, cerbero trigger

core: Add/fix various annotations
  subprojects/gstreamer/gst/gstatomicqueue.c
  subprojects/gstreamer/gst/gstbuffer.c
  subprojects/gstreamer/gst/gstbufferpool.c
  subprojects/gstreamer/gst/gstbufferpool.h
  subprojects/gstreamer/gst/gstelement.c
  subprojects/gstreamer/gst/gstevent.c
  subprojects/gstreamer/gst/gstinfo.c
  subprojects/gstreamer/gst/gstmessage.c
  subprojects/gstreamer/gst/gstobject.c
  subprojects/gstreamer/gst/gstparse.c
  subprojects/gstreamer/gst/gstpipeline.c
  subprojects/gstreamer/gst/gstquery.c
  subprojects/gstreamer/gst/gststructure.c
  subprojects/gstreamer/gst/gsttaglist.c
  subprojects/gstreamer/gst/gsttoc.c
  subprojects/gstreamer/gst/gsturi.c
  subprojects/gstreamer/gst/gstutils.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

ges: Add/fix various annotations
  subprojects/gst-editing-services/ges/ges-asset.c
  subprojects/gst-editing-services/ges/ges-clip.c
  subprojects/gst-editing-services/ges/ges-container.c
  subprojects/gst-editing-services/ges/ges-layer.c
  subprojects/gst-editing-services/ges/ges-meta-container.c
  subprojects/gst-editing-services/ges/ges-pipeline.c
  subprojects/gst-editing-services/ges/ges-project.c
  subprojects/gst-editing-services/ges/ges-screenshot.c
  subprojects/gst-editing-services/ges/ges-text-overlay-clip.c
  subprojects/gst-editing-services/ges/ges-text-overlay.c
  subprojects/gst-editing-services/ges/ges-timeline-element.c
  subprojects/gst-editing-services/ges/ges-timeline.c
  subprojects/gst-editing-services/ges/ges-title-clip.c
  subprojects/gst-editing-services/ges/ges-title-source.c
  subprojects/gst-editing-services/ges/ges-track-element.c
  subprojects/gst-editing-services/ges/ges-track.c
  subprojects/gst-editing-services/ges/ges-utils.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind ges, build documentation, cerbero trigger

sdp: Add/fix various annotations
  subprojects/gst-plugins-base/gst-libs/gst/sdp/gstmikey.c
  subprojects/gst-plugins-base/gst-libs/gst/sdp/gstsdpmessage.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

allocators: Add/fix various annotations
  subprojects/gst-plugins-base/gst-libs/gst/allocators/gstdmabuf.c
  subprojects/gst-plugins-base/gst-libs/gst/allocators/gstfdmemory.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

vulkan: Add/fix various annotations
  subprojects/gst-plugins-bad/gst-libs/gst/vulkan/android/gstvkdisplay_android.c
  subprojects/gst-plugins-bad/gst-libs/gst/vulkan/cocoa/gstvkdisplay_cocoa.m
  subprojects/gst-plugins-bad/gst-libs/gst/vulkan/gstvkdevice.c
  subprojects/gst-plugins-bad/gst-libs/gst/vulkan/gstvkdisplay.c
  subprojects/gst-plugins-bad/gst-libs/gst/vulkan/gstvkfence.c
  subprojects/gst-plugins-bad/gst-libs/gst/vulkan/gstvkformat.c
  subprojects/gst-plugins-bad/gst-libs/gst/vulkan/gstvkinstance.c
  subprojects/gst-plugins-bad/gst-libs/gst/vulkan/gstvkqueue.c
  subprojects/gst-plugins-bad/gst-libs/gst/vulkan/gstvkutils.c
  subprojects/gst-plugins-bad/gst-libs/gst/vulkan/ios/gstvkdisplay_ios.m
  subprojects/gst-plugins-bad/gst-libs/gst/vulkan/wayland/gstvkdisplay_wayland.c
  subprojects/gst-plugins-bad/gst-libs/gst/vulkan/xcb/gstvkdisplay_xcb.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

tag: Add/fix various annotations
  subprojects/gst-plugins-base/gst-libs/gst/tag/gstid3tag.c
  subprojects/gst-plugins-base/gst-libs/gst/tag/gstvorbistag.c
  subprojects/gst-plugins-base/gst-libs/gst/tag/gstxmptag.c
  subprojects/gst-plugins-base/gst-libs/gst/tag/id3v2.c
  subprojects/gst-plugins-base/gst-libs/gst/tag/lang.c
  subprojects/gst-plugins-base/gst-libs/gst/tag/licenses.c
  subprojects/gst-plugins-base/gst-libs/gst/tag/tags.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

cuda: Add/fix various annotations
  subprojects/gst-plugins-bad/gst-libs/gst/cuda/gstcudacontext.c
  subprojects/gst-plugins-bad/gst-libs/gst/cuda/gstcudautils.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d11: Add/fix various annotations
  subprojects/gst-plugins-bad/gst-libs/gst/d3d11/gstd3d11converter.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/d3d11/gstd3d11memory.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

play: Add/fix various annotations
  subprojects/gst-plugins-bad/gst-libs/gst/play/gstplay-signal-adapter.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

Path conditions:
  build nodebug fedora x86_64: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build clang fedora x86_64: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build vs2019 amd64: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build vs2019 x86: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build vs2019 arm64 uwp: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  check fedora: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  integration testsuites fedora: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  gstreamer-full static build: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  gstreamer-full-minimal static build: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  valgrind core: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*
  valgrind base: any of: *, scripts/*, ci//**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*
  valgrind good: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*
  valgrind ugly: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*
  valgrind bad: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-bad/**/*
  valgrind ges: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-editing-services/**/*
  build documentation: any of: .gitlab-ci.yml, ci/gitlab/*.py, subprojects/*.wrap, subprojects/gst-docs/**/*, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  cerbero trigger: any of: .gitlab-ci.yml, ci/gitlab/*.py, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-libav/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gst-rtsp-server/**/*, subprojects/gst-examples/**/*
