Repository GStreamer/gstreamer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

build nodebug fedora x86_64:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: GIT_BRANCH=$CI_COMMIT_REF_NAME GIT_URL=$CI_REPOSITORY_URL bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
  ...

build clang fedora x86_64:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: GIT_BRANCH=$CI_COMMIT_REF_NAME GIT_URL=$CI_REPOSITORY_URL bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
  ...

build vs2019 amd64:
  image: $WINDOWS_IMAGE
  stage: build
  tags:
  - docker
  - windows
  - '1809'
  needs:
  - windows amd64 docker
  timeout: 45min
  variables:
    MESON_ARGS: '${DEFAULT_MESON_ARGS} -Dpython=disabled -Dlibav=disabled -Dvaapi=disabled -Dgst-plugins-base:pango=enabled -Dgst-plugins-good:cairo=enabled
  
      '
  ...

build vs2019 x86:
  image: $WINDOWS_IMAGE
  stage: build
  tags:
  - docker
  - windows
  - '1809'
  needs:
  - windows amd64 docker
  timeout: 45min
  variables:
    MESON_ARGS: '${DEFAULT_MESON_ARGS} -Dpython=disabled -Dlibav=disabled -Dvaapi=disabled -Dgst-plugins-base:pango=enabled -Dgst-plugins-good:cairo=enabled
  
      '
  ...

build vs2019 arm64 uwp:
  image: $WINDOWS_IMAGE
  stage: build
  tags:
  - docker
  - windows
  - '1809'
  needs:
  - windows amd64 docker
  timeout: 45min
  variables:
    MESON_ARGS: '${DEFAULT_MESON_ARGS} -Dpython=disabled -Dlibav=disabled -Dvaapi=disabled -Dgst-plugins-base:pango=enabled -Dgst-plugins-good:cairo=enabled
  
      '
  ...

check fedora:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: GIT_BRANCH=$CI_COMMIT_REF_NAME GIT_URL=$CI_REPOSITORY_URL bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
  ...

integration testsuites fedora:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: GIT_BRANCH=$CI_COMMIT_REF_NAME GIT_URL=$CI_REPOSITORY_URL bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
  ...

gstreamer-full static build:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: GIT_BRANCH=$CI_COMMIT_REF_NAME GIT_URL=$CI_REPOSITORY_URL bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
  ...

valgrind core:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: GIT_BRANCH=$CI_COMMIT_REF_NAME GIT_URL=$CI_REPOSITORY_URL bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
  ...

codectimestamper: Fix timestamping on sequence update
  subprojects/gst-plugins-bad/gst/codectimestamper/gstcodectimestamper.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

Clear h264 decoder DPB when bumping fails
  subprojects/gst-plugins-bad/gst-libs/gst/codecs/gsth264decoder.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

cuda: Port to C++
  subprojects/gst-plugins-bad/docs/meson.build
  subprojects/gst-plugins-bad/gst-libs/gst/cuda/gstcuda-private.h
  subprojects/gst-plugins-bad/gst-libs/gst/cuda/gstcudabufferpool.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/cuda/gstcudacontext.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/cuda/gstcudaloader.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/cuda/gstcudamemory.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/cuda/gstcudanvrtc.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/cuda/gstcudastream.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/cuda/gstcudautils.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/cuda/meson.build
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

nvdecoder: Add support for CUDA zero-copy in stateless decoder
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvav1dec.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvdecobject.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvdecobject.h
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvdecoder.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvdecoder.h
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvh264dec.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvh265dec.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvvp8dec.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvvp9dec.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/meson.build
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

nvdecoder: Reduce render delay to 2 frames
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvav1dec.c
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvh264dec.c
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvh265dec.c
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvvp8dec.c
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvvp9dec.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

cuda, nvcodec: Make GstD3D11 dependency mandatory
  subprojects/gst-plugins-bad/gst-libs/gst/cuda/gstcudacontext.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/cuda/gstcudautils.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/cuda/meson.build
  subprojects/gst-plugins-bad/sys/nvcodec/gstcudamemorycopy.c
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvencoder.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvencoder.h
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvh264encoder.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvh264encoder.h
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvh265encoder.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvh265encoder.h
  subprojects/gst-plugins-bad/sys/nvcodec/meson.build
  subprojects/gst-plugins-bad/sys/nvcodec/plugin.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

nvdecoder: Port to C++
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvav1dec.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvdecoder.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvh264dec.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvh265dec.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvvp8dec.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvvp9dec.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/meson.build
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

cudamemory: Skip sync if no I/O operation happend on free()
  subprojects/gst-plugins-bad/gst-libs/gst/cuda/gstcudamemory.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

nvencoder: Reuse input resource
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvencobject.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvencobject.h
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvencoder.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvencoder.h
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvh264encoder.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvh265encoder.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/meson.build
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

cudamemory: Make CUtexObject object reusable
  subprojects/gst-plugins-bad/gst-libs/gst/cuda/gstcudamemory.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/cuda/gstcudamemory.h
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

cudamemory: Add gst_cuda_allocator_alloc_wrapped() method
  subprojects/gst-plugins-bad/gst-libs/gst/cuda/gstcudamemory.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/cuda/gstcudamemory.h
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

nvdecoder: Add support for reconfiguration
  subprojects/gst-plugins-bad/sys/nvcodec/gstcuvidloader.c
  subprojects/gst-plugins-bad/sys/nvcodec/gstcuvidloader.h
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvav1dec.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvdecobject.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvdecobject.h
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvdecoder.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvdecoder.h
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvh264dec.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvh265dec.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvvp8dec.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvvp9dec.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

cudaconverter: Use cached texture
  subprojects/gst-plugins-bad/sys/nvcodec/gstcudaconverter.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

cudamemory, d3d11memory: Add memory_{get,set}_token_data() methods
  subprojects/gst-plugins-bad/gst-libs/gst/cuda/gstcudamemory.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/cuda/gstcudamemory.h
  subprojects/gst-plugins-bad/gst-libs/gst/cuda/gstcudautils.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/cuda/gstcudautils.h
  subprojects/gst-plugins-bad/gst-libs/gst/d3d11/gstd3d11memory.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/d3d11/gstd3d11memory.h
  subprojects/gst-plugins-bad/gst-libs/gst/d3d11/gstd3d11utils.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/d3d11/gstd3d11utils.h
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

ges-launcher: slight clean up of _set_rendering_details
  subprojects/gst-editing-services/tools/ges-launcher.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind ges, build documentation, cerbero trigger

ges-launcher: allow overriding container profile
  subprojects/gst-editing-services/tools/ges-launcher.c
  subprojects/gst-editing-services/tools/utils.h
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind ges, build documentation, cerbero trigger

meson: Use python module to install override files
  subprojects/gst-editing-services/bindings/python/meson.build
  subprojects/gst-editing-services/meson.build
  subprojects/gst-python/gi/overrides/meson.build
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind ges, build documentation, cerbero trigger

meson: Cleanup and avoid installing python bindings if python is not found
  subprojects/gst-editing-services/docs/meson.build
  subprojects/gst-editing-services/meson.build
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind ges, build documentation, cerbero trigger

gitignore: Ignore editor specific config files
  .gitignore
Due: valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges

changes to fix rate 0 so it get value automatically from map
  subprojects/gst-plugins-base/gst-libs/gst/sdp/gstsdpmessage.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

msdkav1enc: fix the category for msdkav1enc debug
  subprojects/gst-plugins-bad/sys/msdk/gstmsdk.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

validate:launcher: Handle known return code issue in none validate based tests
  subprojects/gst-devtools/validate/launcher/baseclasses.py
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

tests: Move srtp test known issue def to the 'check' testuite
  subprojects/gst-devtools/validate/launcher/testsuites/check.py
  subprojects/gst-integration-testsuites/testsuites/validate_known_issues.py
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

validate:launcher: try to bne more explicit about where to add known failure
  subprojects/gst-devtools/validate/launcher/baseclasses.py
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

hlsdemux2: Make start-bitrate property work without connection-speed
  subprojects/gst-plugins-good/ext/adaptivedemux2/hls/gsthlsdemux-stream.c
  subprojects/gst-plugins-good/ext/adaptivedemux2/hls/gsthlsdemux.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

qtdemux: Don't emit GstSegment correcting start time when in MSE mode
  subprojects/gst-integration-testsuites/testsuites/validate.testslist
  subprojects/gst-integration-testsuites/testsuites/validate/mse/segment_future_past_mse/segment_future_past_mse.validatetest
  subprojects/gst-integration-testsuites/testsuites/validate/mse/segment_future_past_mse/segment_future_past_mse/flow-expectations/log-fakesink0-sink-expected
  subprojects/gst-integration-testsuites/testsuites/validate/mse/segment_future_past_mse_edit_lists/segment_future_past_mse_edit_lists.validatetest
  subprojects/gst-integration-testsuites/testsuites/validate/mse/segment_future_past_mse_edit_lists/segment_future_past_mse_edit_lists/flow-expectations/log-fakesink0-sink-expected
  subprojects/gst-integration-testsuites/testsuites/validate/mse/segment_future_past_nomse/segment_future_past_nomse.validatetest
  subprojects/gst-integration-testsuites/testsuites/validate/mse/segment_future_past_nomse/segment_future_past_nomse/flow-expectations/log-fakesink0-sink-expected
  subprojects/gst-plugins-good/gst/isomp4/qtdemux.c
  subprojects/gst-plugins-good/gst/isomp4/qtdemux.h
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

dashdemux2: Improve initial representation selection
  subprojects/gst-plugins-good/ext/adaptivedemux2/dash/gstdashdemux.c
  subprojects/gst-plugins-good/ext/adaptivedemux2/dash/gstmpdclient.c
  subprojects/gst-plugins-good/ext/adaptivedemux2/dash/gstmpdclient.h
  subprojects/gst-plugins-good/tests/check/elements/dash_mpd.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

dashdemux2: Add start-bitrate property
  subprojects/gst-plugins-good/docs/gst_plugins_cache.json
  subprojects/gst-plugins-good/ext/adaptivedemux2/dash/gstdashdemux.c
  subprojects/gst-plugins-good/ext/adaptivedemux2/dash/gstdashdemux.h
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

dashdemux2: mpdclient: Debug all restrictions when selecting rep
  subprojects/gst-plugins-good/ext/adaptivedemux2/dash/gstmpdclient.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

README: Add note about updating subprojects
  README.md
Due: valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges

webrtcbin: Report full codec-stats for source pads
  subprojects/gst-plugins-bad/ext/webrtc/gstwebrtcstats.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

webrtc: Calculate the jitter for remote-inbound-rtp stats
  subprojects/gst-plugins-bad/ext/webrtc/gstwebrtcstats.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

av1parser, h265parser: Fix some code defects
  subprojects/gst-plugins-bad/gst-libs/gst/codecparsers/gstav1parser.c
  subprojects/gst-plugins-bad/gst-libs/gst/codecparsers/gsth265parser.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

nvencoder: Fix critical warning in autogpu mode
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvencoder.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

cuda: Rename macro HAVE_NVCODEC_GST_GL -> HAVE_CUDA_GST_GL
  subprojects/gst-plugins-bad/gst-libs/gst/cuda/gstcudautils.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/cuda/meson.build
  subprojects/gst-plugins-bad/sys/nvcodec/gstcudamemorycopy.c
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvbaseenc.c
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvdec.c
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvdec.h
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvdecoder.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvenc.c
  subprojects/gst-plugins-bad/sys/nvcodec/meson.build
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

nvencoder: Add support for GL memory
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvencoder.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvencoder.h
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvh264encoder.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvh265encoder.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

nvencoder: Add support for caption insert
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvencobject.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvencobject.h
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvencoder.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvencoder.h
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

nvencoder: Add support for HDR10 static metadata
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvh264encoder.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvh265encoder.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

Path conditions:
  build nodebug fedora x86_64: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build clang fedora x86_64: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build vs2019 amd64: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build vs2019 x86: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build vs2019 arm64 uwp: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  check fedora: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  integration testsuites fedora: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  gstreamer-full static build: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  gstreamer-full-minimal static build: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  valgrind core: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*
  valgrind base: any of: *, scripts/*, ci//**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*
  valgrind good: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*
  valgrind ugly: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*
  valgrind bad: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-bad/**/*
  valgrind ges: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-editing-services/**/*
  build documentation: any of: .gitlab-ci.yml, ci/gitlab/*.py, subprojects/*.wrap, subprojects/gst-docs/**/*, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  cerbero trigger: any of: .gitlab-ci.yml, ci/gitlab/*.py, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-libav/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gst-rtsp-server/**/*, subprojects/gst-examples/**/*
