Repository GStreamer/gstreamer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

build nodebug fedora x86_64:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: GIT_BRANCH=$CI_COMMIT_REF_NAME GIT_URL=$CI_REPOSITORY_URL bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
  ...

build clang fedora x86_64:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: GIT_BRANCH=$CI_COMMIT_REF_NAME GIT_URL=$CI_REPOSITORY_URL bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
  ...

build vs2019 amd64:
  image: $WINDOWS_IMAGE
  stage: build
  tags:
  - docker
  - windows
  - '1809'
  needs:
  - windows amd64 docker
  timeout: 45min
  variables:
    MESON_ARGS: '${DEFAULT_MESON_ARGS} -Dpython=disabled -Dlibav=disabled -Dvaapi=disabled -Dgst-plugins-base:pango=enabled -Dgst-plugins-good:cairo=enabled
  
      '
  ...

build vs2019 x86:
  image: $WINDOWS_IMAGE
  stage: build
  tags:
  - docker
  - windows
  - '1809'
  needs:
  - windows amd64 docker
  timeout: 45min
  variables:
    MESON_ARGS: '${DEFAULT_MESON_ARGS} -Dpython=disabled -Dlibav=disabled -Dvaapi=disabled -Dgst-plugins-base:pango=enabled -Dgst-plugins-good:cairo=enabled
  
      '
  ...

build vs2019 arm64 uwp:
  image: $WINDOWS_IMAGE
  stage: build
  tags:
  - docker
  - windows
  - '1809'
  needs:
  - windows amd64 docker
  timeout: 45min
  variables:
    MESON_ARGS: '${DEFAULT_MESON_ARGS} -Dpython=disabled -Dlibav=disabled -Dvaapi=disabled -Dgst-plugins-base:pango=enabled -Dgst-plugins-good:cairo=enabled
  
      '
  ...

check fedora:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: GIT_BRANCH=$CI_COMMIT_REF_NAME GIT_URL=$CI_REPOSITORY_URL bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
  ...

integration testsuites fedora:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: GIT_BRANCH=$CI_COMMIT_REF_NAME GIT_URL=$CI_REPOSITORY_URL bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
  ...

gstreamer-full static build:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: GIT_BRANCH=$CI_COMMIT_REF_NAME GIT_URL=$CI_REPOSITORY_URL bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
  ...

valgrind core:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: GIT_BRANCH=$CI_COMMIT_REF_NAME GIT_URL=$CI_REPOSITORY_URL bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
  ...

d3d11videosink: Fix error on pause and play
  subprojects/gst-plugins-bad/sys/d3d11/gstd3d11videosink.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

testsuites: remove wontfix issues for legacy HLS elements
  subprojects/gst-integration-testsuites/testsuites/validate_known_issues.py
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build

validate: remove known issue for mxfdemux that's fixed now
  subprojects/gst-integration-testsuites/testsuites/validate_known_issues.py
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build

gst-python: overrides: provide default to Gst.init()
  subprojects/gst-python/gi/overrides/Gst.py
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, cerbero trigger

jpegdec: be stricter when detecting interlaced video
  subprojects/gst-plugins-good/ext/jpeg/gstjpegdec.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

jpegdec: decode the correct number of lines for interlaced frames
  subprojects/gst-plugins-good/ext/jpeg/gstjpegdec.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

decodebin3: Handle changes in stream type
  subprojects/gst-plugins-base/gst/playback/gstdecodebin3.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

uridecodebin3: Also re-use decodebin3 static sink pad
  subprojects/gst-plugins-base/gst/playback/gsturidecodebin3.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

vkimagebufferpool: chain the correct structure
  subprojects/gst-plugins-bad/gst-libs/gst/vulkan/gstvkimagebufferpool.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

vkvideoutils: fix bug for chroma string comparison
  subprojects/gst-plugins-bad/gst-libs/gst/vulkan/gstvkvideoutils.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

vkphysicaldevice: fetch queue family query result support
  girs/GstVulkan-1.0.gir
  subprojects/gst-plugins-bad/gst-libs/gst/vulkan/gstvkphysicaldevice.c
  subprojects/gst-plugins-bad/gst-libs/gst/vulkan/gstvkphysicaldevice.h
  subprojects/gst-plugins-bad/gst-libs/gst/vulkan/vulkan_fwd.h
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

vkvideoutils: fix code-style
  subprojects/gst-plugins-bad/gst-libs/gst/vulkan/gstvkvideoutils.h
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

tests: check if vulkan h264 decoding is supported
  subprojects/gst-plugins-bad/tests/check/libs/vkimagebufferpool.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

README: Fix code formatting for meson installation command
  README.md
Due: valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges

openjpegenc: do not set bpp field on opj_image_cmptparm_t
  subprojects/gst-plugins-bad/ext/openjpeg/gstopenjpegenc.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

docs: contributing: mention user verification to get forking rights
  subprojects/gst-docs/markdown/contribute/index.md
Due: build documentation

glupload: Fix a memory leak point in gst_egl_image_cache_unref()
  subprojects/gst-plugins-base/gst-libs/gst/gl/gstglupload.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

ci: Set XDG_RUNTIME_DIR before running tests
  .gitlab-ci.yml
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

flvmux: use the correct timestamp to calculate wait times
  subprojects/gst-plugins-good/gst/flv/gstflvmux.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

video-blend: Fix linking error with C++
  subprojects/gst-plugins-base/gst-libs/gst/video/video-blend.h
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

gst-python: add proper README and delete useless placeholder files
  subprojects/gst-python/AUTHORS
  subprojects/gst-python/README
  subprojects/gst-python/README.md
  subprojects/gst-python/TODO
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, cerbero trigger

orc: update subproject wrap to 0.4.34
  subprojects/orc.wrap
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, build documentation

flvmux: rename 'new_tags' to 'new_metadata'
  subprojects/gst-plugins-good/gst/flv/gstflvmux.c
  subprojects/gst-plugins-good/gst/flv/gstflvmux.h
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

flvmux: add some logs when input is changing
  subprojects/gst-plugins-good/gst/flv/gstflvmux.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

flvmux: push metadata on caps change
  subprojects/gst-plugins-good/gst/flv/gstflvmux.c
  subprojects/gst-plugins-good/tests/check/elements/flvmux.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

aacparse: parse GASpecificConfig for channels
  subprojects/gst-plugins-good/gst/audioparsers/gstaacparse.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

fdkaacdec: Support up to 5 rear channels
  subprojects/gst-plugins-bad/ext/fdkaac/gstfdkaacdec.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

video-info-dma: add gst_video_info_dma_drm_from_video_info()
  girs/GstVideo-1.0.gir
  subprojects/gst-plugins-base/gst-libs/gst/video/video-info-dma.c
  subprojects/gst-plugins-base/gst-libs/gst/video/video-info-dma.h
  subprojects/gst-plugins-base/tests/check/libs/video.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

gl: EGL image methods to import dmabufs with modifiers
  subprojects/gst-plugins-base/gst-libs/gst/gl/egl/gsteglimage.c
  subprojects/gst-plugins-base/gst-libs/gst/gl/egl/gsteglimage.h
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

gl: add a method to get DMA formats and modifiers
  subprojects/gst-plugins-base/gst-libs/gst/gl/egl/gstglcontext_egl.c
  subprojects/gst-plugins-base/gst-libs/gst/gl/egl/gstglcontext_egl.h
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

gl: add gst_egl_image_check_dmabuf_direct_with_dma_drm()
  subprojects/gst-plugins-base/gst-libs/gst/gl/egl/gsteglimage.c
  subprojects/gst-plugins-base/gst-libs/gst/gl/egl/gsteglimage_private.h
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

gl: replace _drm_direct_fourcc_from_info()
  subprojects/gst-plugins-base/gst-libs/gst/gl/egl/gsteglimage.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

ges: launcher: Never put sinks in a GstPipeline
  subprojects/gst-editing-services/tools/ges-launcher.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind ges, build documentation, cerbero trigger

ges: tests: Use assert_equals_int where it makes sense
  subprojects/gst-editing-services/tests/check/ges/effects.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind ges, build documentation, cerbero trigger

Path conditions:
  build nodebug fedora x86_64: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build clang fedora x86_64: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build vs2019 amd64: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build vs2019 x86: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build vs2019 arm64 uwp: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  check fedora: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  integration testsuites fedora: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  gstreamer-full static build: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  gstreamer-full-minimal static build: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  valgrind core: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*
  valgrind base: any of: *, scripts/*, ci//**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*
  valgrind good: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*
  valgrind ugly: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*
  valgrind bad: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-bad/**/*
  valgrind ges: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-editing-services/**/*
  build documentation: any of: .gitlab-ci.yml, ci/gitlab/*.py, subprojects/*.wrap, subprojects/gst-docs/**/*, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  cerbero trigger: any of: .gitlab-ci.yml, ci/gitlab/*.py, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-libav/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gst-rtsp-server/**/*, subprojects/gst-examples/**/*
