Repository GStreamer/gstreamer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

build fedora x86_64:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: GIT_BRANCH=$CI_COMMIT_REF_NAME GIT_URL=$CI_REPOSITORY_URL bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
  ...

build nodebug fedora x86_64:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: GIT_BRANCH=$CI_COMMIT_REF_NAME GIT_URL=$CI_REPOSITORY_URL bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
  ...

build clang fedora x86_64:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: GIT_BRANCH=$CI_COMMIT_REF_NAME GIT_URL=$CI_REPOSITORY_URL bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
  ...

build vs2019 amd64:
  image: $WINDOWS_IMAGE
  stage: build
  tags:
  - docker
  - windows
  - '2022'
  needs:
  - trigger
  - windows amd64 docker
  timeout: 45min
  variables:
  ...

build vs2019 x86:
  image: $WINDOWS_IMAGE
  stage: build
  tags:
  - docker
  - windows
  - '2022'
  needs:
  - trigger
  - windows amd64 docker
  timeout: 45min
  variables:
  ...

build vs2019 arm64 uwp:
  image: $WINDOWS_IMAGE
  stage: build
  tags:
  - docker
  - windows
  - '2022'
  needs:
  - trigger
  - windows amd64 docker
  timeout: 45min
  variables:
  ...

check fedora:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: GIT_BRANCH=$CI_COMMIT_REF_NAME GIT_URL=$CI_REPOSITORY_URL bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
  ...

integration testsuites fedora:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: GIT_BRANCH=$CI_COMMIT_REF_NAME GIT_URL=$CI_REPOSITORY_URL bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
  ...

gstreamer-full static build:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: GIT_BRANCH=$CI_COMMIT_REF_NAME GIT_URL=$CI_REPOSITORY_URL bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
  ...

gstreamer-full-minimal static build:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: GIT_BRANCH=$CI_COMMIT_REF_NAME GIT_URL=$CI_REPOSITORY_URL bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
  ...

video-info: Don't crash in gst_video_info_is_equal() if one videoinfo is zero-initialized
  subprojects/gst-plugins-base/gst-libs/gst/video/video-info.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

tsdemux: Fix maximum PCR/DTS values
  subprojects/gst-plugins-bad/gst/mpegtsdemux/mpegtspacketizer.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

analytics: Add validation on classification analytics-meta
  subprojects/gst-plugins-bad/gst-libs/gst/analytics/gstanalyticsclassificationmtd.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

testsuites: remove prores reverse playback test from known issues list
  subprojects/gst-integration-testsuites/testsuites/validate_known_issues.py
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build

validate: tool: Use gst_macos_main
  subprojects/gst-devtools/validate/tools/gst-validate-images-check.c
  subprojects/gst-devtools/validate/tools/gst-validate-rtsp-server.c
  subprojects/gst-devtools/validate/tools/gst-validate-transcoding.c
  subprojects/gst-devtools/validate/tools/gst-validate.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

rtpdtmfsrc: fix leak when shutting down mid-event
  subprojects/gst-plugins-good/gst/dtmf/gstrtpdtmfsrc.c
  subprojects/gst-plugins-good/tests/check/elements/dtmf.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

rtpdtmfsrc: minor logging clean-up
  subprojects/gst-plugins-good/gst/dtmf/gstrtpdtmfsrc.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

vkdecoder: support layered and non dedicated DPB
  subprojects/gst-plugins-bad/ext/vulkan/vkh264dec.c
  subprojects/gst-plugins-bad/ext/vulkan/vkh265dec.c
  subprojects/gst-plugins-bad/gst-libs/gst/vulkan/gstvkdecoder-private.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d12: Remove notify_com and notify_mini_object helper methods
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12-private.h
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12converter.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12device.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12device.h
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12fencedatapool.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12fencedatapool.h
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12frame.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12memory.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12compositor.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12convert.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12decoder.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12dxgicapture.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12encoder.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12overlaycompositor.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12testsrc.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12window.cpp
  subprojects/gst-plugins-bad/sys/dwrite/gstdwriterender_d3d12.cpp
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d12device: Add helper method for getting fence handle
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12device.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12device.h
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12memory.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12encoder.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12ipcsink.cpp
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d12commandqueue: Update API name and arguments
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12commandqueue.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12commandqueue.h
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12device-private.h
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12device.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12frame.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12memory.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12decoder.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12encoder.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12ipcclient.cpp
  subprojects/gst-plugins-bad/sys/dwrite/gstdwriterender_d3d12.cpp
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d12device: Use HRESULT return code if possible
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12device.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12device.h
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12compositor.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12convert.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12testsrc.cpp
  subprojects/gst-plugins-bad/sys/dwrite/gstdwriterender_d3d12.cpp
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d12memory: Hide fence value from header
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12converter.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12converter.h
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12device.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12frame.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12frame.h
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12memory.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12memory.h
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12utils.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12compositor.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12convert.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12decoder.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12dxgicapture.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12encoder.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12graphicscapture.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12ipcclient.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12ipcserver.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12pluginutils.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12pluginutils.h
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12testsrc.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12window.cpp
  subprojects/gst-plugins-bad/sys/dwrite/gstdwriterender_d3d12.cpp
  subprojects/gst-plugins-bad/sys/webview2/gstwebview2src.cpp
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d12: Move fence setter helper method to gst-libs
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12utils.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12utils.h
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12compositor.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12convert.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12decoder.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12dxgicapture.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12encoder.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12ipcclient.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12pluginutils.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12pluginutils.h
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12testsrc.cpp
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d12converter: Update API signature
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12converter.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12converter.h
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12compositor.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12convert.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12dxgicapture.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12testsrc.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12window-swapchain.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12window.cpp
  subprojects/gst-plugins-bad/sys/dwrite/gstdwriterender_d3d12.cpp
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d12basefilter: Add adapter property
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12basefilter.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12basefilter.h
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d12commandqueue: Detect device removed event
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12commandqueue.cpp
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d12device: Prevent too many in-flight GPU commands
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12device.cpp
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

Back to development after 1.24.5
  girs/GES-1.0.gir
  girs/Gst-1.0.gir
  girs/GstPbutils-1.0.gir
  meson.build
  subprojects/gst-devtools/meson.build
  subprojects/gst-docs/meson.build
  subprojects/gst-editing-services/meson.build
  subprojects/gst-examples/meson.build
  subprojects/gst-integration-testsuites/meson.build
  subprojects/gst-libav/meson.build
  subprojects/gst-plugins-bad/meson.build
  subprojects/gst-plugins-base/meson.build
  subprojects/gst-plugins-good/meson.build
  subprojects/gst-plugins-rs.wrap
  subprojects/gst-plugins-ugly/meson.build
  subprojects/gst-python/meson.build
  subprojects/gst-rtsp-server/meson.build
  subprojects/gstreamer-sharp/meson.build
  subprojects/gstreamer-sharp/sources/generated/Gst.PbUtils/Constants.cs
  subprojects/gstreamer-sharp/sources/generated/Gst/Constants.cs
  subprojects/gstreamer-sharp/sources/generated/gstreamer-sharp-api.xml
  subprojects/gstreamer-vaapi/meson.build
  subprojects/gstreamer/meson.build
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

decodebin3: Fix keyframe drop probe handling
  subprojects/gst-plugins-base/gst/playback/gstdecodebin3.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

decodebin3: Fix detection of selection done
  subprojects/gst-plugins-base/gst/playback/gstdecodebin3.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d12device: Dump device feature support
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12device.cpp
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d12device: Don't warn for out of range device index
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12device.cpp
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

queue, queue2, multiqueue: Timestamps of gap events must be valid
  subprojects/gstreamer/plugins/elements/gstmultiqueue.c
  subprojects/gstreamer/plugins/elements/gstqueue.c
  subprojects/gstreamer/plugins/elements/gstqueue2.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

queue: queue2: multiqueue: Don't work with segment.position if buffers have no timestamps
  subprojects/gstreamer/plugins/elements/gstmultiqueue.c
  subprojects/gstreamer/plugins/elements/gstqueue.c
  subprojects/gstreamer/plugins/elements/gstqueue2.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d12converter: Make gamma remap work as intended
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12converter.cpp
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

basesink: Remove field not used
  subprojects/gstreamer/libs/gst/base/gstbasesink.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d12converter: Make gamma remap work as intended
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12converter.cpp
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d12converter: Upload shader buffer resources earlier
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12converter.cpp
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

subprojects: bump opus wrap to 1.5.2
  subprojects/opus.wrap
  subprojects/packagefiles/opus-1.5.1/fixes-from-main-branch.patch
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, build documentation

parsebin: fix compilation problem with Visual C++ 2017
  subprojects/gst-plugins-base/gst/playback/gstparsebin.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d12converter: Fix Y410 conversion
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12converter-pack.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12converter-pack.h
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12converter.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/meson.build
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12convert.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12testsrc.cpp
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

Path conditions:
  build fedora x86_64: any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build nodebug fedora x86_64: any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build clang fedora x86_64: any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build vs2019 amd64: (any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*) or (any of: subprojects/win-*/*)
  build vs2019 x86: (any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*) or (any of: subprojects/win-*/*)
  build vs2019 arm64 uwp: (any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*) or (any of: subprojects/win-*/*)
  check fedora: any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  integration testsuites fedora: any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  gstreamer-full static build: any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  gstreamer-full-minimal static build: any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  valgrind core: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*
  valgrind base: any of: *, scripts/*, ci//**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*
  valgrind good: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*
  valgrind ugly: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*
  valgrind bad: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-bad/**/*
  valgrind ges: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-python/**/*
  build documentation: any of: .gitlab-ci.yml, ci/gitlab/*.py, subprojects/*.wrap, subprojects/gst-docs/**/*, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  cerbero trigger: any of: .gitlab-ci.yml, ci/gitlab/*.py, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-libav/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gst-rtsp-server/**/*, subprojects/gst-examples/**/*
