Repository GStreamer/gstreamer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

Path conditions:
  build nodebug fedora x86_64: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build clang fedora x86_64: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build vs2019 amd64: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build vs2019 x86: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build vs2019 arm64 uwp: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  check fedora: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  integration testsuites fedora: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  gstreamer-full static build: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  gstreamer-full-minimal static build: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  valgrind core: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*
  valgrind base: any of: *, scripts/*, ci//**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*
  valgrind good: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*
  valgrind ugly: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*
  valgrind bad: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-bad/**/*
  valgrind ges: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-editing-services/**/*
  build documentation: any of: .gitlab-ci.yml, ci/gitlab/*.py, subprojects/*.wrap, subprojects/gst-docs/**/*, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  cerbero trigger: any of: .gitlab-ci.yml, ci/gitlab/*.py, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-libav/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gst-rtsp-server/**/*, subprojects/gst-examples/**/*

gst-plugins-bad: update translations
  subprojects/gst-plugins-bad/po/LINGUAS
  subprojects/gst-plugins-bad/po/es.po
  subprojects/gst-plugins-bad/po/hr.po
  subprojects/gst-plugins-bad/po/ka.po
  subprojects/gst-plugins-bad/po/lt.po
  subprojects/gst-plugins-bad/po/nl.po
  subprojects/gst-plugins-bad/po/ru.po
  subprojects/gst-plugins-bad/po/sk.po
  subprojects/gst-plugins-bad/po/sl.po
  subprojects/gst-plugins-bad/po/sr.po
  subprojects/gst-plugins-bad/po/uk.po
  subprojects/gst-plugins-bad/po/zh_TW.po
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

gst-plugins-ugly: update translations
  subprojects/gst-plugins-ugly/po/LINGUAS
  subprojects/gst-plugins-ugly/po/eo.po
  subprojects/gst-plugins-ugly/po/es.po
  subprojects/gst-plugins-ugly/po/hr.po
  subprojects/gst-plugins-ugly/po/ka.po
  subprojects/gst-plugins-ugly/po/lt.po
  subprojects/gst-plugins-ugly/po/ru.po
  subprojects/gst-plugins-ugly/po/sk.po
  subprojects/gst-plugins-ugly/po/sl.po
  subprojects/gst-plugins-ugly/po/sq.po
  subprojects/gst-plugins-ugly/po/sr.po
  subprojects/gst-plugins-ugly/po/uk.po
  subprojects/gst-plugins-ugly/po/zh_TW.po
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind ugly, build documentation, cerbero trigger

playback: New playback elements are no longer experimental
  subprojects/gst-plugins-base/gst/playback/gstdecodebin3.c
  subprojects/gst-plugins-base/gst/playback/gstparsebin.c
  subprojects/gst-plugins-base/gst/playback/gstplaybin3.c
  subprojects/gst-plugins-base/gst/playback/gsturidecodebin3.c
  subprojects/gst-plugins-base/gst/playback/gsturisourcebin.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

glvideomixer: Fixing error with mouse navigation events when no pixel-aspect-ratio
  subprojects/gst-plugins-base/ext/gl/gstglvideomixer.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

plugins-base/tests/check/meson.build: add omitted Wayland dependence
  subprojects/gst-plugins-base/gst-libs/gst/gl/meson.build
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d11compositor: Workaround blending artifacts on Intel platform
  subprojects/gst-plugins-bad/sys/d3d11/gstd3d11compositor.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

gst-plugins-good: update translations
  subprojects/gst-plugins-good/po/hr.po
  subprojects/gst-plugins-good/po/ro.po
  subprojects/gst-plugins-good/po/zh_CN.po
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

gst-plugins-bad: update translations
  subprojects/gst-plugins-bad/po/hr.po
  subprojects/gst-plugins-bad/po/ro.po
  subprojects/gst-plugins-bad/po/zh_CN.po
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

gstreamer: update translations
  subprojects/gstreamer/po/bg.po
  subprojects/gstreamer/po/de.po
  subprojects/gstreamer/po/es.po
  subprojects/gstreamer/po/hr.po
  subprojects/gstreamer/po/id.po
  subprojects/gstreamer/po/nb.po
  subprojects/gstreamer/po/pl.po
  subprojects/gstreamer/po/ro.po
  subprojects/gstreamer/po/ru.po
  subprojects/gstreamer/po/uk.po
  subprojects/gstreamer/po/zh_CN.po
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

gst-plugins-ugly: update translations
  subprojects/gst-plugins-ugly/po/hr.po
  subprojects/gst-plugins-ugly/po/ro.po
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind ugly, build documentation, cerbero trigger

gst-plugins-base: update translations
  subprojects/gst-plugins-base/po/af.po
  subprojects/gst-plugins-base/po/az.po
  subprojects/gst-plugins-base/po/bg.po
  subprojects/gst-plugins-base/po/ca.po
  subprojects/gst-plugins-base/po/cs.po
  subprojects/gst-plugins-base/po/da.po
  subprojects/gst-plugins-base/po/de.po
  subprojects/gst-plugins-base/po/el.po
  subprojects/gst-plugins-base/po/en_GB.po
  subprojects/gst-plugins-base/po/eo.po
  subprojects/gst-plugins-base/po/es.po
  subprojects/gst-plugins-base/po/eu.po
  subprojects/gst-plugins-base/po/fi.po
  subprojects/gst-plugins-base/po/fr.po
  subprojects/gst-plugins-base/po/fur.po
  subprojects/gst-plugins-base/po/gl.po
  subprojects/gst-plugins-base/po/hr.po
  subprojects/gst-plugins-base/po/hu.po
  subprojects/gst-plugins-base/po/id.po
  subprojects/gst-plugins-base/po/it.po
  subprojects/gst-plugins-base/po/ja.po
  subprojects/gst-plugins-base/po/ka.po
  subprojects/gst-plugins-base/po/lt.po
  subprojects/gst-plugins-base/po/lv.po
  subprojects/gst-plugins-base/po/nb.po
  subprojects/gst-plugins-base/po/nl.po
  subprojects/gst-plugins-base/po/or.po
  subprojects/gst-plugins-base/po/pl.po
  subprojects/gst-plugins-base/po/pt_BR.po
  subprojects/gst-plugins-base/po/ro.po
  subprojects/gst-plugins-base/po/ru.po
  subprojects/gst-plugins-base/po/sk.po
  subprojects/gst-plugins-base/po/sl.po
  subprojects/gst-plugins-base/po/sq.po
  subprojects/gst-plugins-base/po/sr.po
  subprojects/gst-plugins-base/po/sv.po
  subprojects/gst-plugins-base/po/tr.po
  subprojects/gst-plugins-base/po/uk.po
  subprojects/gst-plugins-base/po/vi.po
  subprojects/gst-plugins-base/po/zh_CN.po
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

Back to development
  meson.build
  subprojects/gst-devtools/meson.build
  subprojects/gst-docs/meson.build
  subprojects/gst-editing-services/meson.build
  subprojects/gst-examples/meson.build
  subprojects/gst-integration-testsuites/meson.build
  subprojects/gst-libav/meson.build
  subprojects/gst-omx/meson.build
  subprojects/gst-plugins-bad/meson.build
  subprojects/gst-plugins-base/meson.build
  subprojects/gst-plugins-good/docs/gst_plugins_cache.json
  subprojects/gst-plugins-good/meson.build
  subprojects/gst-plugins-rs.wrap
  subprojects/gst-plugins-ugly/meson.build
  subprojects/gst-python/meson.build
  subprojects/gst-rtsp-server/docs/plugins/gst_plugins_cache.json
  subprojects/gst-rtsp-server/meson.build
  subprojects/gstreamer-sharp/meson.build
  subprojects/gstreamer-sharp/sources/generated/Gst.PbUtils/Constants.cs
  subprojects/gstreamer-sharp/sources/generated/Gst/Constants.cs
  subprojects/gstreamer-sharp/sources/generated/gstreamer-sharp-api.xml
  subprojects/gstreamer-vaapi/meson.build
  subprojects/gstreamer/meson.build
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

taginject: Add scope property
  subprojects/gst-plugins-good/docs/gst_plugins_cache.json
  subprojects/gst-plugins-good/gst/debugutils/gsttaginject.c
  subprojects/gst-plugins-good/gst/debugutils/gsttaginject.h
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

udpsrc: GstSocketTimestampMessage only for SCM_TIMESTAMPNS
  subprojects/gst-plugins-good/gst/udp/gstudpsrc.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

vaapi: Skip plugin pc file for shared plugins
  subprojects/gstreamer-vaapi/meson.build
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, build documentation

avvidenc: Don't take ffmpeg timestamps verbatim but only use them to calculate DTS
  subprojects/gst-libav/ext/libav/gstavvidenc.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, build documentation, cerbero trigger

Revert "avvidenc: Set timebase in the ffmpeg context to nanoseconds and set framerate"
  subprojects/gst-libav/ext/libav/gstavcodecmap.c
  subprojects/gst-libav/ext/libav/gstavvidenc.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, build documentation, cerbero trigger

Use automatic pad activation in elements that can take advantage of it
  subprojects/gstreamer/libs/gst/base/gstaggregator.c
  subprojects/gstreamer/plugins/elements/gstconcat.c
  subprojects/gstreamer/plugins/elements/gstfunnel.c
  subprojects/gstreamer/plugins/elements/gstinputselector.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

datetime: drop use of GSlice
  subprojects/gstreamer/gst/gstdatetime.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

context: drop use of GSlice
  subprojects/gstreamer/gst/gstcontext.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

allocator, buffer, bufferlist: drop use of GSlice
  subprojects/gstreamer/gst/gstallocator.c
  subprojects/gstreamer/gst/gstbuffer.c
  subprojects/gstreamer/gst/gstbufferlist.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

uri: drop use of GSlice
  subprojects/gstreamer/gst/gsturi.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

core: examples: drop use of GSlice
  subprojects/gstreamer/tests/examples/memory/my-memory.c
  subprojects/gstreamer/tests/examples/memory/my-vidmem.c
  subprojects/gstreamer/tests/examples/streams/testrtpool.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

devicemonitor: drop use of GSlice
  subprojects/gstreamer/gst/gstdevicemonitor.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

clockentry: drop use of GSlice
  subprojects/gstreamer/gst/gstclock.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

bin: drop use of GSlice
  subprojects/gstreamer/gst/gstbin.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

event: drop use of GSlice
  subprojects/gstreamer/gst/gstevent.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

tools: gst-stats: drop use of GSlice allocator
  subprojects/gstreamer/tools/gst-stats.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

meta: drop use of GSlice
  subprojects/gstreamer/gst/gstformat.c
  subprojects/gstreamer/gst/gstmeta.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

caps, capsfeatures: drop use of GSlice
  subprojects/gstreamer/gst/gstcaps.c
  subprojects/gstreamer/gst/gstcapsfeatures.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

toc, tocsetter: drop use of GSlice
  subprojects/gstreamer/gst/gsttoc.c
  subprojects/gstreamer/gst/gsttocsetter.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

bus, poll: drop use of GSlice
  subprojects/gstreamer/gst/gstbus.c
  subprojects/gstreamer/gst/gstpoll.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

gstvalue: drop use of GSlice
  subprojects/gstreamer/gst/gstvalue.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

message: drop use of GSlice
  subprojects/gstreamer/gst/gstmessage.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

registrychunks: get rid of internal GST_REGISTRY_CHUNK_FLAG_MALLOC
  subprojects/gstreamer/gst/gstregistrychunks.c
  subprojects/gstreamer/gst/gstregistrychunks.h
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

registry: drop use of GSlice
  subprojects/gstreamer/gst/gstelementfactory.c
  subprojects/gstreamer/gst/gstplugin.c
  subprojects/gstreamer/gst/gstpluginloader.c
  subprojects/gstreamer/gst/gstregistrybinary.c
  subprojects/gstreamer/gst/gstregistrychunks.c
  subprojects/gstreamer/gst/gstregistrychunks.h
  subprojects/gstreamer/tests/check/gst/gstelementfactory.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

taglist, tagsetter: drop use of GSlice
  subprojects/gstreamer/gst/gsttaglist.c
  subprojects/gstreamer/gst/gsttagsetter.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

core: tests: drop use of GSlice allocator
  subprojects/gstreamer/tests/check/gst/gstelementfactory.c
  subprojects/gstreamer/tests/check/gst/gstmemory.c
  subprojects/gstreamer/tests/check/libs/gsttestclock.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

info: drop use of GSlice
  subprojects/gstreamer/gst/gstinfo.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger
