Repository GStreamer/gstreamer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

Path conditions:
  build nodebug fedora x86_64: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build clang fedora x86_64: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build vs2019 amd64: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build vs2019 x86: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build vs2019 arm64 uwp: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  check fedora: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  integration testsuites fedora: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  gstreamer-full static build: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  gstreamer-full-minimal static build: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  valgrind core: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*
  valgrind base: any of: *, scripts/*, ci//**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*
  valgrind good: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*
  valgrind ugly: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*
  valgrind bad: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-bad/**/*
  valgrind ges: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-editing-services/**/*
  build documentation: any of: .gitlab-ci.yml, ci/gitlab/*.py, subprojects/*.wrap, subprojects/gst-docs/**/*, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  cerbero trigger: any of: .gitlab-ci.yml, ci/gitlab/*.py, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-libav/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gst-rtsp-server/**/*, subprojects/gst-examples/**/*

cea608mux: Implement GstAggregator::clip
  subprojects/gst-plugins-bad/ext/closedcaption/gstcea608mux.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

codectimestamper: Implement QUERY_CAPS support
  subprojects/gst-plugins-bad/gst/codectimestamper/gstcodectimestamper.c
  subprojects/gst-plugins-bad/gst/codectimestamper/gstcodectimestamper.h
  subprojects/gst-plugins-bad/tests/validate/codectimestamper/h264_propagate_caps.validatetest
  subprojects/gst-plugins-bad/tests/validate/codectimestamper/h264_propagate_caps/flow-expectations/log-sink-sink-expected
  subprojects/gst-plugins-bad/tests/validate/meson.build
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

validate: flow: Handle ignored fields for caps
  subprojects/gst-devtools/validate/gst/validate/flow/formatting.c
  subprojects/gst-devtools/validate/gst/validate/flow/formatting.h
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

codectimestamper: Use accept-intersect and accept-template caps
  subprojects/gst-plugins-bad/gst/codectimestamper/gstcodectimestamper.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

udpsrc: Add support for IGMPv3 SSM
  subprojects/gst-plugins-good/docs/gst_plugins_cache.json
  subprojects/gst-plugins-good/gst/udp/gstudp.c
  subprojects/gst-plugins-good/gst/udp/gstudpnetutils.c
  subprojects/gst-plugins-good/gst/udp/gstudpnetutils.h
  subprojects/gst-plugins-good/gst/udp/gstudpsink.c
  subprojects/gst-plugins-good/gst/udp/gstudpsrc.c
  subprojects/gst-plugins-good/gst/udp/gstudpsrc.h
  subprojects/gst-plugins-good/tests/check/elements/udpsrc.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

sdpmessage: Don't set "source-filter" to caps
  subprojects/gst-plugins-base/gst-libs/gst/sdp/gstsdpmessage.c
  subprojects/gst-plugins-base/tests/check/libs/sdp.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

sdpdemux: Add support for RFC4570 SDP source filters
  subprojects/gst-plugins-bad/gst/sdp/gstsdpdemux.c
  subprojects/gst-plugins-bad/gst/sdp/gstsdpdemux.h
  subprojects/gst-plugins-bad/tests/check/elements/sdpdemux.c
  subprojects/gst-plugins-bad/tests/check/meson.build
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

tests: allocators: Fix fdmem test with recent GLib
  subprojects/gst-plugins-base/tests/check/libs/allocators.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

srtpdec: fix "srtp-key" check
  subprojects/gst-plugins-bad/ext/srtp/gstsrtpdec.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

multifile: error out if no filename was set
  subprojects/gst-plugins-good/gst/multifile/gstimagesequencesrc.c
  subprojects/gst-plugins-good/gst/multifile/gstmultifilesrc.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d11videosink: Remove pointless GetDC call
  subprojects/gst-plugins-bad/sys/d3d11/gstd3d11window_win32.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

gst: tracer: Initialize tracing infrastructure even if the debug system is not compiled in
  subprojects/gstreamer/gst/gst.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

imagesequencesrc: Properly set default location
  subprojects/gst-plugins-good/docs/gst_plugins_cache.json
  subprojects/gst-plugins-good/gst/multifile/gstimagesequencesrc.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

docs: update old gstreamer-sdk media urls
  subprojects/gst-docs/examples/tutorials/android/android-tutorial-4/src/org/freedesktop/gstreamer/tutorials/tutorial_4/Tutorial4.java
  subprojects/gst-docs/examples/tutorials/android/android-tutorial-5/src/org/freedesktop/gstreamer/tutorials/tutorial_5/Tutorial5.java
  subprojects/gst-docs/examples/tutorials/basic-tutorial-1.c
  subprojects/gst-docs/examples/tutorials/basic-tutorial-12.c
  subprojects/gst-docs/examples/tutorials/basic-tutorial-13.c
  subprojects/gst-docs/examples/tutorials/basic-tutorial-15.c
  subprojects/gst-docs/examples/tutorials/basic-tutorial-3.c
  subprojects/gst-docs/examples/tutorials/basic-tutorial-4.c
  subprojects/gst-docs/examples/tutorials/basic-tutorial-5.c
  subprojects/gst-docs/examples/tutorials/basic-tutorial-9.c
  subprojects/gst-docs/examples/tutorials/playback-tutorial-1.c
  subprojects/gst-docs/examples/tutorials/playback-tutorial-2.c
  subprojects/gst-docs/examples/tutorials/playback-tutorial-4.c
  subprojects/gst-docs/examples/tutorials/playback-tutorial-5.c
  subprojects/gst-docs/examples/tutorials/playback-tutorial-7.c
  subprojects/gst-docs/examples/tutorials/python/basic-tutorial-1.py
  subprojects/gst-docs/examples/tutorials/xcode iOS/Tutorial 4/VideoViewController.m
  subprojects/gst-docs/examples/tutorials/xcode iOS/Tutorial 5/LibraryViewController.m
  subprojects/gst-docs/markdown/tutorials/android/media-player.md
  subprojects/gst-docs/markdown/tutorials/basic/dynamic-pipelines.md
  subprojects/gst-docs/markdown/tutorials/basic/gstreamer-tools.md
  subprojects/gst-docs/markdown/tutorials/basic/handy-elements.md
  subprojects/gst-docs/markdown/tutorials/basic/media-information-gathering.md
  subprojects/gst-docs/markdown/tutorials/basic/streaming.md
  subprojects/gst-docs/markdown/tutorials/basic/time-management.md
  subprojects/gst-docs/markdown/tutorials/basic/toolkit-integration.md
  subprojects/gst-docs/markdown/tutorials/ios/a-basic-media-player.md
  subprojects/gst-docs/markdown/tutorials/playback/color-balance.md
  subprojects/gst-docs/markdown/tutorials/playback/custom-playbin-sinks.md
  subprojects/gst-docs/markdown/tutorials/playback/playbin-usage.md
  subprojects/gst-docs/markdown/tutorials/playback/progressive-streaming.md
  subprojects/gst-docs/markdown/tutorials/playback/subtitle-management.md
Due: build documentation

pluginloader-win32: Fix for pipe connection error
  subprojects/gstreamer/gst/gstpluginloader-win32.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

ptp-helper: Convert various meson message() to warning()
  subprojects/gstreamer/libs/gst/helpers/ptp/meson.build
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

ptp-helper: Add a feature option for the PTP support
  subprojects/gstreamer/libs/gst/helpers/ptp/meson.build
  subprojects/gstreamer/meson_options.txt
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

ptp-helper: Don't check for a Rust compiler on unsupported platforms
  subprojects/gstreamer/libs/gst/helpers/ptp/meson.build
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

ptp-helper: Check for the required Rust toolchain version via meson
  subprojects/gstreamer/libs/gst/helpers/ptp/meson.build
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

v4l2: videodec: Prefer acquired caps over anything downstream
  subprojects/gst-plugins-good/sys/v4l2/gstv4l2bufferpool.c
  subprojects/gst-plugins-good/sys/v4l2/gstv4l2videodec.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

v4l2: videodec: Remove leading space in comment
  subprojects/gst-plugins-good/sys/v4l2/gstv4l2videodec.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

v4l2: Fix use after free of fmtdesc
  subprojects/gst-plugins-good/sys/v4l2/gstv4l2videodec.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

vscode: add VSCode IDE integration
  .gitignore
  .vscode/launch.json
Due: valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges

v4l2: Fix use after free of fmtdesc part 2
  subprojects/gst-plugins-good/sys/v4l2/gstv4l2object.c
  subprojects/gst-plugins-good/sys/v4l2/gstv4l2object.h
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

docs: mark GstGLSinkBin as plugin API
  subprojects/gst-plugins-base/docs/plugins/gst_plugins_cache.json
  subprojects/gst-plugins-base/ext/gl/gstglsinkbin.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

ci: bump hotdoc dependency
  .gitlab-image-tags.yml
  ci/docker/fedora/prepare.sh
Due: valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges

docs: mark GstRTPMux as plugin API
  subprojects/gst-plugins-good/docs/gst_plugins_cache.json
  subprojects/gst-plugins-good/gst/rtpmanager/gstrtpmux.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

symbol_index: update with late additions
  subprojects/gst-docs/symbols/symbol_index.json
Due: build documentation

docs: mark GstVideoConvertScale as plugin API
  subprojects/gst-plugins-base/docs/plugins/gst_plugins_cache.json
  subprojects/gst-plugins-base/gst/videoconvertscale/gstvideoconvertscale.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d11videosink: Enhancement for initial window size decision
  subprojects/gst-plugins-bad/sys/d3d11/gstd3d11window_win32.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d11videosink: add gstcheck test for win32 window
  subprojects/gst-plugins-bad/tests/check/elements/d3d11videosink.c
  subprojects/gst-plugins-bad/tests/check/meson.build
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d11videosink: fix race conditions in win32 window
  subprojects/gst-plugins-bad/sys/d3d11/gstd3d11videosink.cpp
  subprojects/gst-plugins-bad/sys/d3d11/gstd3d11window_win32.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

glcontext_wgl: fix missing unref
  subprojects/gst-plugins-base/gst-libs/gst/gl/wgl/gstglcontext_wgl.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

glvideoflip: fix leaked caps
  subprojects/gst-plugins-base/ext/gl/gstglvideoflip.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

adaptivedemux2: fix critical when using an unsupported URI
  subprojects/gst-plugins-good/ext/adaptivedemux2/gstadaptivedemux.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger
