Repository GStreamer/gstreamer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

Path conditions:
  build fedora x86_64: any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build nodebug fedora x86_64: any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build clang fedora x86_64: any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build vs2019 amd64: (any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*) or (any of: subprojects/win-*/*)
  build vs2019 x86: (any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*) or (any of: subprojects/win-*/*)
  build vs2019 arm64 uwp: (any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*) or (any of: subprojects/win-*/*)
  check fedora: any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  integration testsuites fedora: any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  gstreamer-full static build: any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  gstreamer-full-minimal static build: any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  valgrind core: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*
  valgrind base: any of: *, scripts/*, ci//**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*
  valgrind good: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*
  valgrind ugly: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*
  valgrind bad: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-bad/**/*
  valgrind ges: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-python/**/*
  build documentation: any of: .gitlab-ci.yml, ci/gitlab/*.py, subprojects/*.wrap, subprojects/gst-docs/**/*, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  cerbero trigger: any of: .gitlab-ci.yml, ci/gitlab/*.py, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-libav/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gst-rtsp-server/**/*, subprojects/gst-examples/**/*

build: add a simple build script for x86-linux(ubuntu)
  build-x86-linux.sh
Due: valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges

v4l2src: need maintain the caps order in caps compare when fixate
  subprojects/gst-plugins-good/sys/v4l2/gstv4l2src.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

meson: d3d11: Disable library build if DirectXMath header was not found
  subprojects/gst-plugins-bad/gst-libs/gst/d3d11/meson.build
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

tests: rtpred: fix out-of-bound writes
  subprojects/gst-plugins-good/tests/check/elements/rtpred.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

msdk: Fix session close failure
  subprojects/gst-plugins-bad/sys/msdk/gstmsdkcontext.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

encodebin: Add the parser before timestamper to tosync list
  subprojects/gst-plugins-base/gst/encoding/gstencodebasebin.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

ristsrc: Clean caps instead of unref
  subprojects/gst-plugins-bad/gst/rist/gstristsrc.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

ci: Update to Rust 1.77.1
  .gitlab-image-tags.yml
  ci/docker/fedora/install-rust.sh
  ci/docker/windows/install_rust.ps1
Due: valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges

wpe: avoid crash with G_DEBUG=fatal_criticals and static build
  subprojects/gst-plugins-bad/ext/wpe/gstwpe.cpp
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d11videosink: disconnect signals before releasing the window
  subprojects/gst-plugins-bad/sys/d3d11/gstd3d11videosink.cpp
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

webview2: Use IContainerVisual for offscreen rendering
  subprojects/gst-plugins-bad/sys/webview2/gstwebview2object.cpp
  subprojects/gst-plugins-bad/sys/webview2/gstwebview2object.h
  subprojects/gst-plugins-bad/sys/webview2/gstwebview2src.cpp
  subprojects/gst-plugins-bad/sys/webview2/meson.build
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

webview2: Add support for javascript injection
  subprojects/gst-plugins-bad/sys/webview2/gstwebview2object.cpp
  subprojects/gst-plugins-bad/sys/webview2/gstwebview2object.h
  subprojects/gst-plugins-bad/sys/webview2/gstwebview2src.cpp
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

meson: Don't confuse voaacenc plugin with bz2 one in meson variable names
  subprojects/gst-plugins-bad/ext/voaacenc/meson.build
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

msdkenc: Set VideoFullRange according to input colorimetry range
  subprojects/gst-plugins-bad/sys/msdk/gstmsdkenc.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

msdkvpp: Set colorimetry for src caps
  subprojects/gst-plugins-bad/sys/msdk/gstmsdkvpputil.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d12: Add a helper method for device equality check
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12basefilter.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12compositor.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12convert.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12converter.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12decoder.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12device.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12device.h
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12encoder.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12ipcsink.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12pluginutils.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12screencapturesrc.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12testsrc.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12videosink.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12window.cpp
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d12: Remove device11on12 wrapping layer
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d11on12.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d11on12.h
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12device.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12device.h
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12ipcclient.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12testsrc.cpp
  subprojects/gst-plugins-bad/sys/d3d12/meson.build
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d12bufferpool: Use d3dx12.h format table
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12bufferpool.cpp
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d12: Make resource getter methods consistent
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12commandallocatorpool.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12commandallocatorpool.h
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12commandlistpool.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12commandlistpool.h
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12commandqueue.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12commandqueue.h
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12compositor.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12convert.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12converter.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12decoder.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12descriptorpool.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12descriptorpool.h
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12device.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12dxgicapture.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12encoder.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12ipcsink.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12memory.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12memory.h
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12overlaycompositor.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12testsrc.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12window.cpp
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d12memory: Define new D3D12 map flags
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12encoder.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12graphicscapture.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12ipcsink.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12memory.h
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12pluginutils.cpp
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

msdk: Fix mjpeg BGRx encode
  subprojects/gst-plugins-bad/sys/msdk/gstmsdkallocator_libva.c
  subprojects/gst-plugins-bad/sys/msdk/gstmsdkenc.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

va: vp9enc: Fix the frame size not enough issue for super frame
  subprojects/gst-plugins-bad/sys/va/gstvavp9enc.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

va: vp9enc: Adjust the coded buffer size to avoid failure
  subprojects/gst-plugins-bad/sys/va/gstvavp9enc.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

va: encoder: Fix the unit of bitrate in debug log message
  subprojects/gst-plugins-bad/sys/va/gstvaav1enc.c
  subprojects/gst-plugins-bad/sys/va/gstvah264enc.c
  subprojects/gst-plugins-bad/sys/va/gstvah265enc.c
  subprojects/gst-plugins-bad/sys/va/gstvavp9enc.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

webview2: Add support for d3d12 interop
  subprojects/gst-plugins-bad/sys/webview2/gstwebview2object.cpp
  subprojects/gst-plugins-bad/sys/webview2/gstwebview2object.h
  subprojects/gst-plugins-bad/sys/webview2/gstwebview2src.cpp
  subprojects/gst-plugins-bad/sys/webview2/meson.build
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d12memory: Add support for d3d11 texture caching
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12_fwd.h
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12memory.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12memory.h
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/meson.build
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d12screencapturesrc: Use gst_d3d12_memory_get_d3d11_texture()
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12graphicscapture.cpp
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

subprojects: directxmath: Update to 3.1.9
  subprojects/directxmath.wrap
  subprojects/packagefiles/DirectXMath-dec2022/0001-Inc-Use-two-argument-cpuid-when-using-recent-MinGW.patch
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, build documentation

meson: d3d11: Add support for MinGW DirectXMath package
  subprojects/gst-plugins-bad/gst-libs/gst/d3d11/meson.build
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

qml6glsink: fix destruction of underlying texture
  subprojects/gst-plugins-good/ext/qt6/gstqsg6material.cc
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

va: av1enc: Fix the reference number setting bug
  subprojects/gst-plugins-bad/sys/va/gstvaav1enc.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger
