Repository GStreamer/gstreamer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

Path conditions:
  build fedora x86_64: any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build nodebug fedora x86_64: any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build clang fedora x86_64: any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build vs2019 amd64: (any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*) or (any of: subprojects/win-*/*)
  build vs2019 x86: (any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*) or (any of: subprojects/win-*/*)
  build vs2019 arm64 uwp: (any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*) or (any of: subprojects/win-*/*)
  check fedora: any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  integration testsuites fedora: any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  gstreamer-full static build: any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  gstreamer-full-minimal static build: any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  valgrind core: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*
  valgrind base: any of: *, scripts/*, ci//**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*
  valgrind good: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*
  valgrind ugly: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*
  valgrind bad: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-bad/**/*
  valgrind ges: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-python/**/*
  build documentation: any of: .gitlab-ci.yml, ci/gitlab/*.py, subprojects/*.wrap, subprojects/gst-docs/**/*, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  cerbero trigger: any of: .gitlab-ci.yml, ci/gitlab/*.py, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-libav/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gst-rtsp-server/**/*, subprojects/gst-examples/**/*

msdk: sink context reference
  subprojects/gst-plugins-bad/sys/msdk/gstmsdkcontext.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

vulkan: sink references at instantiation
  subprojects/gst-plugins-bad/gst-libs/gst/vulkan/gstvkoperation.c
  subprojects/gst-plugins-bad/gst-libs/gst/vulkan/gstvktrash.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

dash: sink references of all MDP objects
  subprojects/gst-plugins-bad/ext/dash/gstmpdadaptationsetnode.c
  subprojects/gst-plugins-bad/ext/dash/gstmpdbaseurlnode.c
  subprojects/gst-plugins-bad/ext/dash/gstmpdclient.c
  subprojects/gst-plugins-bad/ext/dash/gstmpdcontentcomponentnode.c
  subprojects/gst-plugins-bad/ext/dash/gstmpddescriptortypenode.c
  subprojects/gst-plugins-bad/ext/dash/gstmpdlocationnode.c
  subprojects/gst-plugins-bad/ext/dash/gstmpdmetricsnode.c
  subprojects/gst-plugins-bad/ext/dash/gstmpdmetricsrangenode.c
  subprojects/gst-plugins-bad/ext/dash/gstmpdperiodnode.c
  subprojects/gst-plugins-bad/ext/dash/gstmpdprograminformationnode.c
  subprojects/gst-plugins-bad/ext/dash/gstmpdreportingnode.c
  subprojects/gst-plugins-bad/ext/dash/gstmpdrepresentationnode.c
  subprojects/gst-plugins-bad/ext/dash/gstmpdrootnode.c
  subprojects/gst-plugins-bad/ext/dash/gstmpdsegmentbasenode.c
  subprojects/gst-plugins-bad/ext/dash/gstmpdsegmentlistnode.c
  subprojects/gst-plugins-bad/ext/dash/gstmpdsegmenttemplatenode.c
  subprojects/gst-plugins-bad/ext/dash/gstmpdsegmenttimelinenode.c
  subprojects/gst-plugins-bad/ext/dash/gstmpdsegmenturlnode.c
  subprojects/gst-plugins-bad/ext/dash/gstmpdsnode.c
  subprojects/gst-plugins-bad/ext/dash/gstmpdsubrepresentationnode.c
  subprojects/gst-plugins-bad/ext/dash/gstmpdsubsetnode.c
  subprojects/gst-plugins-bad/ext/dash/gstmpdurltypenode.c
  subprojects/gst-plugins-bad/ext/dash/gstmpdutctimingnode.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

gtk: sink reference of internal wayland pool
  subprojects/gst-plugins-bad/ext/gtk/gstgtkwaylandsink.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

wayland: sink reference to internal pool
  subprojects/gst-plugins-bad/ext/wayland/gstwaylandsink.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

glimagesink: unref the potential last ref outside of the glimagesink lock
  subprojects/gst-plugins-base/ext/gl/gstglimagesink.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

glimagesink: avoid a possible critical on shutdown
  subprojects/gst-plugins-base/ext/gl/gstglimagesink.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

glwindow/cocoa: keep a window reference across an async callback
  subprojects/gst-plugins-base/gst-libs/gst/gl/cocoa/gstglwindow_cocoa.m
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

gl/context/cocoa: ensure pixel format lives as long as the context
  subprojects/gst-plugins-base/gst-libs/gst/gl/cocoa/gstglcontext_cocoa.m
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

glcaopengllayer: NULL some fields when freed
  subprojects/gst-plugins-base/gst-libs/gst/gl/cocoa/gstglcaopengllayer.m
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

glbufferpool: protect release_buffer from multiple concurrent access
  subprojects/gst-plugins-base/gst-libs/gst/gl/gstglbufferpool.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

vkbufferpool: correct usage flags type
  girs/GstVulkan-1.0.gir
  subprojects/gst-plugins-bad/gst-libs/gst/vulkan/gstvkbufferpool.c
  subprojects/gst-plugins-bad/gst-libs/gst/vulkan/gstvkbufferpool.h
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

examples: set perfect-timestamp=true on opusenc
  subprojects/gst-examples/webrtc/android/app/src/main/jni/webrtc.c
  subprojects/gst-examples/webrtc/multiparty-sendrecv/gst/mp-webrtc-sendrecv.c
  subprojects/gst-examples/webrtc/sendonly/webrtc-recvonly-h264.c
  subprojects/gst-examples/webrtc/sendonly/webrtc-unidirectional-h264.c
  subprojects/gst-examples/webrtc/sendrecv/gst-java/src/main/java/WebrtcSendRecv.java
  subprojects/gst-examples/webrtc/sendrecv/gst-sharp/WebRTCSendRecv.cs
  subprojects/gst-examples/webrtc/sendrecv/gst/webrtc-sendrecv.c
  subprojects/gst-examples/webrtc/sendrecv/gst/webrtc_sendrecv.py
  subprojects/gst-plugins-bad/tests/examples/webrtc/webrtcswap.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

va: encoders: don't assert at target percentage when QVBR
  subprojects/gst-plugins-bad/sys/va/gstvaav1enc.c
  subprojects/gst-plugins-bad/sys/va/gstvah264enc.c
  subprojects/gst-plugins-bad/sys/va/gstvah265enc.c
  subprojects/gst-plugins-bad/sys/va/gstvavp9enc.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

examples: vaenc-dynamic: ignore bitrate change with ICQ too
  subprojects/gst-plugins-bad/tests/examples/va/vaenc-dynamic-reconfigure.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

examples: vaenc-dynamic: add vp9, av1 and low power tests
  subprojects/gst-plugins-bad/tests/examples/va/vaenc-dynamic-reconfigure.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

examples: vaenc-dynamic: support target percentage change in QVBR
  subprojects/gst-plugins-bad/tests/examples/va/vaenc-dynamic-reconfigure.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

play: Update `video_snapshot` to support playbin3
  subprojects/gst-plugins-bad/gst-libs/gst/play/gstplay.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

clocksync: Proxy allocation queries
  subprojects/gstreamer/plugins/elements/gstclocksync.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

audioringbuffer: set waiting to 0 when signaling
  subprojects/gst-plugins-base/gst-libs/gst/audio/gstaudioringbuffer.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

va: sink reference at instantiation
  subprojects/gst-plugins-bad/sys/va/gstvadecoder.c
  subprojects/gst-plugins-bad/sys/va/gstvaencoder.c
  subprojects/gst-plugins-bad/sys/va/gstvafilter.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

vkh26xdec: remove unused variables
  subprojects/gst-plugins-bad/ext/vulkan/vkh264dec.c
  subprojects/gst-plugins-bad/ext/vulkan/vkh265dec.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

vkh265dec: fix resource info structure when layered DPB
  subprojects/gst-plugins-bad/ext/vulkan/vkh265dec.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

vkh26xdec: implement close() vmethod
  subprojects/gst-plugins-bad/ext/vulkan/vkh264dec.c
  subprojects/gst-plugins-bad/ext/vulkan/vkh265dec.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

vkh265dec: add missing VPS parameter
  subprojects/gst-plugins-bad/ext/vulkan/vkh265dec.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

subprojects: update glib-networking wrap to 2.78.1
  subprojects/glib-networking.wrap
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, build documentation

pbutils: descriptions: Don't warn on MPEG-1 audio caps without layer field
  subprojects/gst-plugins-base/gst-libs/gst/pbutils/descriptions.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

jpegparse: turn some bus warnings into object ones
  subprojects/gst-plugins-bad/gst/jpegformat/gstjpegparse.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger
