Repository GStreamer/gstreamer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

Path conditions:
  build nodebug fedora x86_64: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build clang fedora x86_64: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build vs2019 amd64: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build vs2019 x86: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build vs2019 arm64 uwp: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  check fedora: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  integration testsuites fedora: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  gstreamer-full static build: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  gstreamer-full-minimal static build: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  valgrind core: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*
  valgrind base: any of: *, scripts/*, ci//**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*
  valgrind good: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*
  valgrind ugly: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*
  valgrind bad: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-bad/**/*
  valgrind ges: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-editing-services/**/*
  build documentation: any of: .gitlab-ci.yml, ci/gitlab/*.py, subprojects/*.wrap, subprojects/gst-docs/**/*, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  cerbero trigger: any of: .gitlab-ci.yml, ci/gitlab/*.py, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-libav/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gst-rtsp-server/**/*, subprojects/gst-examples/**/*

glimagesink: only allow setting the GL display/context if it is a valid value
  subprojects/gst-plugins-base/ext/gl/gstglimagesink.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d11: Move HLSL compiler to gst-libs
  subprojects/gst-plugins-bad/gst-libs/gst/d3d11/gstd3d11.h
  subprojects/gst-plugins-bad/gst-libs/gst/d3d11/gstd3d11compile.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/d3d11/gstd3d11compile.h
  subprojects/gst-plugins-bad/gst-libs/gst/d3d11/meson.build
  subprojects/gst-plugins-bad/sys/d3d11/gstd3d11compositor.cpp
  subprojects/gst-plugins-bad/sys/d3d11/gstd3d11converter.cpp
  subprojects/gst-plugins-bad/sys/d3d11/gstd3d11overlaycompositor.cpp
  subprojects/gst-plugins-bad/sys/d3d11/gstd3d11screencapture.cpp
  subprojects/gst-plugins-bad/sys/d3d11/gstd3d11screencapturesrc.cpp
  subprojects/gst-plugins-bad/sys/d3d11/gstd3d11shader.cpp
  subprojects/gst-plugins-bad/sys/d3d11/gstd3d11shader.h
  subprojects/gst-plugins-bad/sys/d3d11/gstd3d11testsrc.cpp
  subprojects/gst-plugins-bad/sys/d3d11/meson.build
  subprojects/gst-plugins-bad/sys/d3d11/plugin.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

applemedia: Add HEVC support to vtenc and vtdec
  subprojects/gst-plugins-bad/sys/applemedia/vtdec.c
  subprojects/gst-plugins-bad/sys/applemedia/vtenc.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

meson: Update some wraps, remove unused wraps
  subprojects/expat.wrap
  subprojects/lame.wrap
  subprojects/libjpeg-turbo.wrap
  subprojects/ogg.wrap
  subprojects/pcre.wrap
  subprojects/vorbis.wrap
  subprojects/zlib.wrap
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, build documentation

osxaudio: Fix deprecation in macOS 12.0
  subprojects/gst-plugins-good/sys/osxaudio/gstosxaudiodeviceprovider.c
  subprojects/gst-plugins-good/sys/osxaudio/gstosxcoreaudiohal.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

meson: Fix warning about check kwarg
  subprojects/macos-bison-binary/meson.build
Due: none

ci: Fix project URL when triggering cerbero pipelines
  ci/gitlab/trigger_cerbero_pipeline.py
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

meson: Fix compile failures on macOS in harfbuzz and pango
  subprojects/harfbuzz.wrap
  subprojects/packagefiles/harfbuzz-2.8.2/0001-Removed-unused-variable-supp_size-from-plan_subset_e.patch
  subprojects/packagefiles/pango-1.48.9/0001-Coretext-fix-clang-build-failure.patch
  subprojects/pango.wrap
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, build documentation

d3d11testsrc: Fix SMPTE pattern rendering
  subprojects/gst-plugins-bad/sys/d3d11/gstd3d11testsrc.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

meson: Improve certifi documentation on macOS
  README.md
  meson.build
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges

qt: Fix another instance of Qt/GStreamer both defining `GLsync` differently
  subprojects/gst-plugins-good/ext/qt/qtglrenderer.cc
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

video-color: Add primaries and colorimetry compare functions
  subprojects/gst-plugins-base/gst-libs/gst/video/video-color.c
  subprojects/gst-plugins-base/gst-libs/gst/video/video-color.h
  subprojects/gst-plugins-base/tests/check/libs/video.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d11convert: Use new colorimetry compare function
  subprojects/gst-plugins-bad/sys/d3d11/gstd3d11convert.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

video-converter: Use primaries compare function
  subprojects/gst-plugins-base/gst-libs/gst/video/video-converter.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

aggregator: Reset EOS flag after receiving a stream-start event
  subprojects/gstreamer/libs/gst/base/gstaggregator.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

gststructure: Add gst_structure_get_flags method
  subprojects/gstreamer/gst/gststructure.c
  subprojects/gstreamer/gst/gststructure.h
  subprojects/gstreamer/tests/check/gst/gststructure.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

proxysink: Fix GstProxySrc leak
  subprojects/gst-plugins-bad/gst/proxy/gstproxysink.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

proxysink: Make sure stream-start and caps events are forwarded
  subprojects/gst-plugins-bad/gst/proxy/gstproxysink.c
  subprojects/gst-plugins-bad/gst/proxy/gstproxysink.h
  subprojects/gst-plugins-bad/tests/check/elements/proxysink.c
  subprojects/gst-plugins-bad/tests/check/meson.build
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

gstinfo: Parse "NONE" as a valid level name
  subprojects/gstreamer/gst/gstinfo.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d11format: Move DXGI color space mapping method to gst-libs
  subprojects/gst-plugins-bad/gst-libs/gst/d3d11/gstd3d11format.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/d3d11/gstd3d11format.h
  subprojects/gst-plugins-bad/sys/d3d11/gstd3d11converter.cpp
  subprojects/gst-plugins-bad/sys/d3d11/gstd3d11pluginutils.cpp
  subprojects/gst-plugins-bad/sys/d3d11/gstd3d11pluginutils.h
  subprojects/gst-plugins-bad/sys/d3d11/gstd3d11screencapture.cpp
  subprojects/gst-plugins-bad/sys/d3d11/gstd3d11window.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d11converter: Use primaries and transfer function compare methods
  subprojects/gst-plugins-bad/sys/d3d11/gstd3d11converter.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d11converter: Use GstStructure to set initialization options
  subprojects/gst-plugins-bad/sys/d3d11/gstd3d11converter.cpp
  subprojects/gst-plugins-bad/sys/d3d11/gstd3d11converter.h
  subprojects/gst-plugins-bad/sys/d3d11/gstd3d11testsrc.cpp
  subprojects/gst-plugins-bad/sys/d3d11/gstd3d11window_dummy.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

msdkenc: Enable LowDelayBrc and MaxFrameSize for I/P frame
  subprojects/gst-plugins-bad/sys/msdk/gstmsdkenc.c
  subprojects/gst-plugins-bad/sys/msdk/gstmsdkenc.h
  subprojects/gst-plugins-bad/sys/msdk/gstmsdkh264enc.c
  subprojects/gst-plugins-bad/sys/msdk/gstmsdkh265enc.c
  subprojects/gst-plugins-bad/sys/msdk/gstmsdkh265enc.h
  subprojects/gst-plugins-bad/sys/msdk/msdk-enums.c
  subprojects/gst-plugins-bad/sys/msdk/msdk-enums.h
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

wasapi: Implement default audio channel mask
  subprojects/gst-plugins-bad/sys/wasapi/gstwasapiutil.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

openmpt: update from now deprecated api
  subprojects/gst-plugins-bad/ext/openmpt/gstopenmptdec.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d11: Define enum and flags types manually
  subprojects/gst-plugins-bad/gst-libs/gst/d3d11/gstd3d11.h
  subprojects/gst-plugins-bad/gst-libs/gst/d3d11/gstd3d11memory.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/d3d11/gstd3d11memory.h
  subprojects/gst-plugins-bad/gst-libs/gst/d3d11/meson.build
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d11: Run gst-indent
  subprojects/gst-plugins-bad/gst-libs/gst/d3d11/gstd3d11format.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d11: Move GstD3D11Converter to gst-libs
  subprojects/gst-plugins-bad/gst-libs/gst/d3d11/gstd3d11.h
  subprojects/gst-plugins-bad/gst-libs/gst/d3d11/gstd3d11_fwd.h
  subprojects/gst-plugins-bad/gst-libs/gst/d3d11/gstd3d11_private.h
  subprojects/gst-plugins-bad/gst-libs/gst/d3d11/gstd3d11converter.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/d3d11/gstd3d11converter.h
  subprojects/gst-plugins-bad/gst-libs/gst/d3d11/gstd3d11format.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/d3d11/meson.build
  subprojects/gst-plugins-bad/sys/d3d11/gstd3d11compositor.cpp
  subprojects/gst-plugins-bad/sys/d3d11/gstd3d11convert.cpp
  subprojects/gst-plugins-bad/sys/d3d11/gstd3d11decoder.cpp
  subprojects/gst-plugins-bad/sys/d3d11/gstd3d11pluginutils.cpp
  subprojects/gst-plugins-bad/sys/d3d11/gstd3d11pluginutils.h
  subprojects/gst-plugins-bad/sys/d3d11/gstd3d11testsrc.cpp
  subprojects/gst-plugins-bad/sys/d3d11/gstd3d11window.h
  subprojects/gst-plugins-bad/sys/d3d11/meson.build
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

examples: d3d11: Add GstD3D11Converter example
  subprojects/gst-plugins-bad/tests/examples/d3d11/d3d11converter.cpp
  subprojects/gst-plugins-bad/tests/examples/d3d11/meson.build
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d11compositor: Add support for crop meta
  subprojects/gst-plugins-bad/sys/d3d11/gstd3d11compositor.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

videoaggregator: Don't force upstream alpha format
  subprojects/gst-plugins-base/gst-libs/gst/video/gstvideoaggregator.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

audiobuffersplit: Combine two if expressions to reduce indentation
  subprojects/gst-plugins-bad/gst/audiobuffersplit/gstaudiobuffersplit.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger
