Repository GStreamer/gstreamer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

Path conditions:
  build nodebug fedora x86_64: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build clang fedora x86_64: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build vs2019 amd64: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build vs2019 x86: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build vs2019 arm64 uwp: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  check fedora: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  integration testsuites fedora: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  gstreamer-full static build: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  gstreamer-full-minimal static build: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  valgrind core: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*
  valgrind base: any of: *, scripts/*, ci//**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*
  valgrind good: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*
  valgrind ugly: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*
  valgrind bad: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-bad/**/*
  valgrind ges: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-editing-services/**/*
  build documentation: any of: .gitlab-ci.yml, ci/gitlab/*.py, subprojects/*.wrap, subprojects/gst-docs/**/*, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  cerbero trigger: any of: .gitlab-ci.yml, ci/gitlab/*.py, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-libav/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gst-rtsp-server/**/*, subprojects/gst-examples/**/*

avsamplevideosink: remove unused variable
  subprojects/gst-plugins-bad/sys/applemedia/avsamplevideosink.m
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

speed: fix unused-but-set warning
  subprojects/gst-plugins-bad/gst/speed/gstspeed.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

resindvd: silence unused-but-set warning
  subprojects/gst-plugins-bad/ext/resindvd/gstpesfilter.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

python: Add support for the GstURIHandlerInterface
  subprojects/gst-python/examples/plugins/python/sinkelement.py
  subprojects/gst-python/gi/overrides/Gst.py
  subprojects/gst-python/gi/overrides/gstmodule.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, cerbero trigger

Add support for extracting CEA608 S334-1 Closed Captions and add a property to select which ones to extract
  gstajacommon.cpp
  gstajacommon.h
  gstajasrc.cpp
  gstajasrc.h
Due: valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges

docs: Fix doc generation example
  subprojects/gst-docs/README.md
Due: build documentation

glmixerbin: slightly better pad/element creation
  subprojects/gst-plugins-base/ext/gl/gstglmixerbin.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

rawvideoparse: set format from caps in gst_raw_video_parse_set_config_from_caps
  subprojects/gst-plugins-base/gst/rawparse/gstrawvideoparse.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

Add support for writing CEA608 S334-1 Annex A Closed Captions
  gstajasink.cpp
  gstajasink.h
Due: valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges

avviddec: Remove vc1/wmv3 override
  subprojects/gst-libav/ext/libav/gstavviddec.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, build documentation, cerbero trigger

osxvideosink: fix unused-but-set-variable warning
  subprojects/gst-plugins-good/sys/osxvideo/osxvideosink.m
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

examples/player/android: update for android changes
  subprojects/gst-examples/playback/player/android/app/build.gradle
  subprojects/gst-examples/playback/player/android/app/src/main/AndroidManifest.xml
  subprojects/gst-examples/playback/player/android/app/src/main/jni/Android.mk
  subprojects/gst-examples/playback/player/android/app/src/main/jni/Application.mk
  subprojects/gst-examples/playback/player/android/build.gradle
  subprojects/gst-examples/playback/player/android/gradle/wrapper/gradle-wrapper.properties
Due: cerbero trigger

qsv: Fix mfxFrameAllocator::Lock for encoder
  subprojects/gst-plugins-bad/sys/qsv/gstqsvallocator.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

qsvencoder: Add support for dynamic bitrate update
  subprojects/gst-plugins-bad/sys/qsv/gstqsvencoder.cpp
  subprojects/gst-plugins-bad/sys/qsv/gstqsvencoder.h
  subprojects/gst-plugins-bad/sys/qsv/gstqsvh264enc.cpp
  subprojects/gst-plugins-bad/sys/qsv/gstqsvh265enc.cpp
  subprojects/gst-plugins-bad/sys/qsv/gstqsvvp9enc.cpp
  subprojects/gst-plugins-bad/tests/examples/meson.build
  subprojects/gst-plugins-bad/tests/examples/qsv/key-handler.c
  subprojects/gst-plugins-bad/tests/examples/qsv/key-handler.h
  subprojects/gst-plugins-bad/tests/examples/qsv/meson.build
  subprojects/gst-plugins-bad/tests/examples/qsv/qsvenc-dynamic-reconfigure.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

qsvh265enc: Add missing gop-size property
  subprojects/gst-plugins-bad/sys/qsv/gstqsvh265enc.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

ges: remove memory leak with description
  subprojects/gst-editing-services/tools/utils.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind ges, build documentation, cerbero trigger

nle: clear seek event properly
  subprojects/gst-editing-services/plugins/nle/nlecomposition.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind ges, build documentation, cerbero trigger

python: Add a suppression file for a leak in PyGObject
  .gitlab-ci.yml
  subprojects/gst-python/testsuite/python.supp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

pbutils: Fix wmv screen detection
  subprojects/gst-plugins-base/gst-libs/gst/pbutils/descriptions.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

deinterlace: silence unused-but-set werror from imported code
  subprojects/gst-plugins-good/gst/deinterlace/tvtime/tomsmocomp/SearchLoopTop.inc
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

soup: Fix usage of symbols / defines that are gone in libsoup3
  subprojects/gst-plugins-good/ext/soup/gstsouphttpsrc.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

soup: Fix pre-processor macros in souploader for libsoup-3.0
  subprojects/gst-plugins-good/ext/soup/gstsouploader.c
  subprojects/gst-plugins-good/ext/soup/gstsouploader.h
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

meson: Add some messages when selecting libsoup
  subprojects/gst-plugins-good/ext/soup/meson.build
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

examples/player/android: add missing dummy.cpp
  subprojects/gst-examples/playback/player/android/app/src/main/jni/dummy.cpp
Due: cerbero trigger

va: Set <gst/va/gstva.h> as library single point entry header.
  subprojects/gst-plugins-bad/gst-libs/gst/va/gstva.h
  subprojects/gst-plugins-bad/gst-libs/gst/va/gstvaallocator.h
  subprojects/gst-plugins-bad/gst-libs/gst/va/gstvadisplay.c
  subprojects/gst-plugins-bad/gst-libs/gst/va/gstvadisplay.h
  subprojects/gst-plugins-bad/gst-libs/gst/va/gstvadisplay_drm.c
  subprojects/gst-plugins-bad/gst-libs/gst/va/gstvadisplay_drm.h
  subprojects/gst-plugins-bad/gst-libs/gst/va/gstvadisplay_wrapped.h
  subprojects/gst-plugins-bad/gst-libs/gst/va/gstvapool.c
  subprojects/gst-plugins-bad/gst-libs/gst/va/gstvapool.h
  subprojects/gst-plugins-bad/gst-libs/gst/va/gstvasurfacecopy.h
  subprojects/gst-plugins-bad/gst-libs/gst/va/gstvautils.c
  subprojects/gst-plugins-bad/gst-libs/gst/va/gstvautils.h
  subprojects/gst-plugins-bad/gst-libs/gst/va/gstvavideoformat.h
  subprojects/gst-plugins-bad/gst-libs/gst/va/va_fwd.h
  subprojects/gst-plugins-bad/gst-libs/gst/va/vasurfaceimage.h
  subprojects/gst-plugins-bad/sys/va/gstvaav1dec.c
  subprojects/gst-plugins-bad/sys/va/gstvabasedec.c
  subprojects/gst-plugins-bad/sys/va/gstvabasetransform.c
  subprojects/gst-plugins-bad/sys/va/gstvacaps.c
  subprojects/gst-plugins-bad/sys/va/gstvadecoder.c
  subprojects/gst-plugins-bad/sys/va/gstvadeinterlace.c
  subprojects/gst-plugins-bad/sys/va/gstvadisplay_priv.c
  subprojects/gst-plugins-bad/sys/va/gstvadisplay_priv.h
  subprojects/gst-plugins-bad/sys/va/gstvaencoder.c
  subprojects/gst-plugins-bad/sys/va/gstvaencoder.h
  subprojects/gst-plugins-bad/sys/va/gstvafilter.c
  subprojects/gst-plugins-bad/sys/va/gstvah264enc.c
  subprojects/gst-plugins-bad/sys/va/gstvavpp.c
  subprojects/gst-plugins-bad/tests/examples/va/main.c
  subprojects/gst-plugins-bad/tests/examples/va/multiple-vpp.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

va: Move the video format functions into gstlibva.
  subprojects/gst-plugins-bad/gst-libs/gst/va/gstvavideoformat.c
  subprojects/gst-plugins-bad/gst-libs/gst/va/gstvavideoformat.h
  subprojects/gst-plugins-bad/gst-libs/gst/va/meson.build
  subprojects/gst-plugins-bad/sys/va/gstvaallocator.c
  subprojects/gst-plugins-bad/sys/va/gstvabasedec.c
  subprojects/gst-plugins-bad/sys/va/gstvacaps.c
  subprojects/gst-plugins-bad/sys/va/gstvadecoder.c
  subprojects/gst-plugins-bad/sys/va/gstvadisplay_priv.c
  subprojects/gst-plugins-bad/sys/va/gstvafilter.c
  subprojects/gst-plugins-bad/sys/va/meson.build
  subprojects/gst-plugins-bad/sys/va/vasurfaceimage.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

va: Move allocators and pool objects into gstva library.
  subprojects/gst-plugins-bad/gst-libs/gst/va/gstvaallocator.c
  subprojects/gst-plugins-bad/gst-libs/gst/va/gstvaallocator.h
  subprojects/gst-plugins-bad/gst-libs/gst/va/gstvapool.c
  subprojects/gst-plugins-bad/gst-libs/gst/va/gstvapool.h
  subprojects/gst-plugins-bad/gst-libs/gst/va/gstvasurfacecopy.c
  subprojects/gst-plugins-bad/gst-libs/gst/va/gstvasurfacecopy.h
  subprojects/gst-plugins-bad/gst-libs/gst/va/meson.build
  subprojects/gst-plugins-bad/gst-libs/gst/va/vasurfaceimage.c
  subprojects/gst-plugins-bad/gst-libs/gst/va/vasurfaceimage.h
  subprojects/gst-plugins-bad/sys/va/gstvaav1dec.c
  subprojects/gst-plugins-bad/sys/va/gstvabasedec.c
  subprojects/gst-plugins-bad/sys/va/gstvabasetransform.c
  subprojects/gst-plugins-bad/sys/va/gstvadecoder.c
  subprojects/gst-plugins-bad/sys/va/gstvadeinterlace.c
  subprojects/gst-plugins-bad/sys/va/gstvaencoder.c
  subprojects/gst-plugins-bad/sys/va/gstvafilter.c
  subprojects/gst-plugins-bad/sys/va/gstvah264enc.c
  subprojects/gst-plugins-bad/sys/va/gstvapool.h
  subprojects/gst-plugins-bad/sys/va/gstvavpp.c
  subprojects/gst-plugins-bad/sys/va/meson.build
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

mpegdemux: silence unused-but-set werror
  subprojects/gst-plugins-bad/gst/mpegdemux/gstpesfilter.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

osxcoreaudio: fix unused-but-set warning
  subprojects/gst-plugins-good/sys/osxaudio/gstosxcoreaudio.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

avfassetsrc: fix unused-but-set warning
  subprojects/gst-plugins-bad/sys/applemedia/avfassetsrc.m
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

rtsp-stream: remove unused variable:
  subprojects/gst-rtsp-server/gst/rtsp-server/rtsp-stream.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, build documentation, cerbero trigger

mpeg: fix unused-but-set warning
  subprojects/gst-plugins-bad/gst-libs/gst/mpegts/gst-dvb-section.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

mpegts: don't shadow res variable
  subprojects/gst-plugins-bad/gst/mpegtsmux/gstbasetsmux.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

applemedia/corevideobuffer: remove unused variable
  subprojects/gst-plugins-bad/sys/applemedia/corevideobuffer.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

applemeida/texturecache: remove unused variable
  subprojects/gst-plugins-bad/sys/applemedia/videotexturecache.m
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

applemedia/iosgl: remove unused variable
  subprojects/gst-plugins-bad/sys/applemedia/iosurfaceglmemory.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

vtdec: remove unused variable
  subprojects/gst-plugins-bad/sys/applemedia/vtdec.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

validate/media-info: silence unsed variable warning
  subprojects/gst-devtools/validate/gst/validate/gst-validate-media-info.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger
