Repository GStreamer/gstreamer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

build fedora x86_64:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: GIT_BRANCH=$CI_COMMIT_REF_NAME GIT_URL=$CI_REPOSITORY_URL bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
  ...

build nodebug fedora x86_64:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: GIT_BRANCH=$CI_COMMIT_REF_NAME GIT_URL=$CI_REPOSITORY_URL bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
  ...

build clang fedora x86_64:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: GIT_BRANCH=$CI_COMMIT_REF_NAME GIT_URL=$CI_REPOSITORY_URL bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
  ...

build vs2019 amd64:
  image: $WINDOWS_IMAGE
  stage: build
  tags:
  - docker
  - windows
  - '2022'
  needs:
  - trigger
  - windows amd64 docker
  timeout: 45min
  variables:
  ...

build vs2019 x86:
  image: $WINDOWS_IMAGE
  stage: build
  tags:
  - docker
  - windows
  - '2022'
  needs:
  - trigger
  - windows amd64 docker
  timeout: 45min
  variables:
  ...

build vs2019 arm64 uwp:
  image: $WINDOWS_IMAGE
  stage: build
  tags:
  - docker
  - windows
  - '2022'
  needs:
  - trigger
  - windows amd64 docker
  timeout: 45min
  variables:
  ...

check fedora:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: GIT_BRANCH=$CI_COMMIT_REF_NAME GIT_URL=$CI_REPOSITORY_URL bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
  ...

integration testsuites fedora:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: GIT_BRANCH=$CI_COMMIT_REF_NAME GIT_URL=$CI_REPOSITORY_URL bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
  ...

gstreamer-full static build:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: GIT_BRANCH=$CI_COMMIT_REF_NAME GIT_URL=$CI_REPOSITORY_URL bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
  ...

gstreamer-full-minimal static build:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: GIT_BRANCH=$CI_COMMIT_REF_NAME GIT_URL=$CI_REPOSITORY_URL bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
  ...

Revert "h264parse: Remove un-needed check on SPS state"
  subprojects/gst-plugins-bad/gst/videoparsers/gsth264parse.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

Revert "h264parse: test - AU align with SEI between frame slices"
  subprojects/gst-plugins-bad/tests/check/elements/h264parse.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

Revert "h264parse: Improved AU boundary detection"
  subprojects/gst-plugins-bad/gst-libs/gst/codecparsers/gsth264parser.h
  subprojects/gst-plugins-bad/gst/videoparsers/gsth264parse.c
  subprojects/gst-plugins-bad/gst/videoparsers/gsth264parse.h
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

h264parser: maintain API changes
  subprojects/gst-plugins-bad/gst-libs/gst/codecparsers/gsth264parser.h
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

Revert "h264parse: Fix AU collection"
  subprojects/gst-plugins-bad/gst/videoparsers/gsth264parse.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

ci/fluster: Revert results for visl
  ci/fluster/visl_references/test_suites/h264/JVT-AVC_V1.json
  tests/virtme/meson.build
Due: valgrind core, valgrind good, valgrind ugly, valgrind bad, valgrind ges

Revert "h264parse: correct NAL mode backlog processing"
  subprojects/gst-plugins-bad/gst/videoparsers/gsth264parse.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

Revert "h264parse: use AUD to detect first VCL NAL"
  subprojects/gst-plugins-bad/gst/videoparsers/gsth264parse.c
  subprojects/gst-plugins-bad/gst/videoparsers/gsth264parse.h
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

examples/gl/cocoa: add an example of a failing scenario with glimagesink
  subprojects/gst-plugins-base/tests/examples/gl/cocoa/meson.build
  subprojects/gst-plugins-base/tests/examples/gl/cocoa/multiple-glsinks-start-stop.m
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

webrtc.js: Fix a small typo
  subprojects/gst-examples/webrtc/sendrecv/js/webrtc.js
Due: cerbero trigger

play: Update `video_snapshot` to support playbin3
  subprojects/gst-plugins-bad/gst-libs/gst/play/gstplay.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

v4l2: fix error in calculating padding bottom for tile format
  subprojects/gst-plugins-good/sys/v4l2/gstv4l2object.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

rtspsrc: Optionally timestamp RTP packets with their receive times in TCP/HTTP mode
  subprojects/gst-plugins-good/docs/gst_plugins_cache.json
  subprojects/gst-plugins-good/gst/rtsp/gstrtspsrc.c
  subprojects/gst-plugins-good/gst/rtsp/gstrtspsrc.h
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

wavpackparse: Explicitly handle ID_WVX_NEW_BITSTREAM
  subprojects/gst-plugins-good/gst/audioparsers/gstwavpackparse.c
  subprojects/gst-plugins-good/gst/audioparsers/gstwavpackparse.h
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

typefind: Handle WavPack block sizes > 131072
  subprojects/gst-plugins-base/gst/typefind/gsttypefindfunctions.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

wavpackparse: Fix potential integer overflow on ID_ODD_SIZE blocks
  subprojects/gst-plugins-good/gst/audioparsers/gstwavpackparse.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

wavpackparse: Use an unsigned integer for the block size calculations
  subprojects/gst-plugins-good/gst/audioparsers/gstwavpackparse.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

rtpbin: Don't re-use a variable for a completely different purpose temporarily
  subprojects/gst-plugins-good/gst/rtpmanager/gstrtpbin.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

rtpjitterbuffer: Use an extended RTP timestamp for the clock-base
  subprojects/gst-plugins-good/gst/rtpmanager/gstrtpjitterbuffer.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

rtpbin: Convert clock-base to extended RTP timestamp correctly
  subprojects/gst-plugins-good/gst/rtpmanager/gstrtpbin.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

qml6glsink: fix destruction of underlying texture
  subprojects/gst-plugins-good/ext/qt6/gstqsg6material.cc
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

dwrite: Fix crash on device update
  subprojects/gst-plugins-bad/sys/dwrite/gstdwriteoverlayobject.cpp
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

rtphdrext-ntp: Fix typo of the RFC number in the element metadata
  subprojects/gst-plugins-good/docs/gst_plugins_cache.json
  subprojects/gst-plugins-good/gst/rtpmanager/gstrtphdrext-ntp.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d12converter: Simplify root signature build
  subprojects/gst-plugins-bad/gst-libs/gst/d3d12/gstd3d12converter-builder.cpp
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

qt: Fixup for dummy textures
  subprojects/gst-plugins-good/ext/qt/gstqsgmaterial.cc
  subprojects/gst-plugins-good/ext/qt/gstqsgmaterial.h
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

qt6: Fixes for dummy texture
  subprojects/gst-plugins-good/ext/qt6/gstqsg6material.cc
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

vpxenc: Include vpx error details in errors and warnings
  subprojects/gst-plugins-good/ext/vpx/gstvpxenc.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

pulsesink: Re-enable emission of stream status messages
  subprojects/gst-plugins-good/ext/pulse/pulsesink.c
  subprojects/gst-plugins-good/ext/pulse/pulsesink.h
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

qsvdecoder: Release too old frames
  subprojects/gst-plugins-bad/sys/qsv/gstqsvdecoder.cpp
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

ccconverter: Fix caps leak and remove unnecessary code
  subprojects/gst-plugins-bad/ext/closedcaption/gstccconverter.c
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

Back to development after 1.24.2
  girs/GES-1.0.gir
  girs/Gst-1.0.gir
  girs/GstPbutils-1.0.gir
  meson.build
  subprojects/gst-devtools/meson.build
  subprojects/gst-docs/meson.build
  subprojects/gst-editing-services/meson.build
  subprojects/gst-examples/meson.build
  subprojects/gst-integration-testsuites/meson.build
  subprojects/gst-libav/meson.build
  subprojects/gst-plugins-bad/meson.build
  subprojects/gst-plugins-base/meson.build
  subprojects/gst-plugins-good/meson.build
  subprojects/gst-plugins-rs.wrap
  subprojects/gst-plugins-ugly/meson.build
  subprojects/gst-python/meson.build
  subprojects/gst-rtsp-server/meson.build
  subprojects/gstreamer-sharp/meson.build
  subprojects/gstreamer-sharp/sources/generated/Gst.PbUtils/Constants.cs
  subprojects/gstreamer-sharp/sources/generated/Gst/Constants.cs
  subprojects/gstreamer-sharp/sources/generated/gstreamer-sharp-api.xml
  subprojects/gstreamer-vaapi/meson.build
  subprojects/gstreamer/meson.build
Due: build fedora x86_64, build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

Path conditions:
  build fedora x86_64: any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build nodebug fedora x86_64: any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build clang fedora x86_64: any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build vs2019 amd64: (any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*) or (any of: subprojects/win-*/*)
  build vs2019 x86: (any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*) or (any of: subprojects/win-*/*)
  build vs2019 arm64 uwp: (any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*) or (any of: subprojects/win-*/*)
  check fedora: any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  integration testsuites fedora: any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  gstreamer-full static build: any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  gstreamer-full-minimal static build: any of: .gitlab-ci.yml, gst-env.py, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  valgrind core: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*
  valgrind base: any of: *, scripts/*, ci//**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*
  valgrind good: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*
  valgrind ugly: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*
  valgrind bad: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-bad/**/*
  valgrind ges: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-python/**/*
  build documentation: any of: .gitlab-ci.yml, ci/gitlab/*.py, subprojects/*.wrap, subprojects/gst-docs/**/*, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  cerbero trigger: any of: .gitlab-ci.yml, ci/gitlab/*.py, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-libav/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gst-rtsp-server/**/*, subprojects/gst-examples/**/*
