Repository GStreamer/gstreamer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

Path conditions:
  build nodebug fedora x86_64: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build clang fedora x86_64: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build vs2019 amd64: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build vs2019 x86: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build vs2019 arm64 uwp: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  check fedora: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  integration testsuites fedora: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  gstreamer-full static build: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  gstreamer-full-minimal static build: any of: .gitlab-ci.yml, ci/gitlab/*.py, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  valgrind core: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*
  valgrind base: any of: *, scripts/*, ci//**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*
  valgrind good: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*
  valgrind ugly: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*
  valgrind bad: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-bad/**/*
  valgrind ges: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-editing-services/**/*
  build documentation: any of: .gitlab-ci.yml, ci/gitlab/*.py, subprojects/*.wrap, subprojects/gst-docs/**/*, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  cerbero trigger: any of: .gitlab-ci.yml, ci/gitlab/*.py, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-libav/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gst-rtsp-server/**/*, subprojects/gst-examples/**/*

dshowdeviceprovider: Fix leak in gst_dshow_device_provider_start
  subprojects/gst-plugins-bad/sys/directshow/dshowdeviceprovider.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

va: add driver description in element metadata
  subprojects/gst-plugins-bad/gst-libs/gst/va/gstvadisplay.c
  subprojects/gst-plugins-bad/sys/va/gstvapluginutils.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

urisourcebin: Activate pad before transferring sticky events
  subprojects/gst-plugins-base/gst/playback/gsturisourcebin.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

ci: update windows image for mse testsuite fix
  .gitlab-image-tags.yml
Due: valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges

msdkvpp: Pass null formats when create va allocator for RGB565
  subprojects/gst-plugins-bad/sys/msdk/gstmsdkvpp.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

parsebin: Improve elementary stream handling
  subprojects/gst-plugins-base/gst/playback/gstparsebin.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

gtkwaylandsink: Fix crash when rendering after the window is closed
  subprojects/gst-plugins-bad/ext/gtk/gstgtkwaylandsink.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d11convert: add "method" property
  subprojects/gst-plugins-bad/gst-libs/gst/d3d11/gstd3d11converter.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/d3d11/gstd3d11converter.h
  subprojects/gst-plugins-bad/sys/d3d11/gstd3d11convert.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

d3d11convert: protect 'add-borders' with mutex
  subprojects/gst-plugins-bad/sys/d3d11/gstd3d11convert.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

git-blame-ignore-revs: Do not suggest --global
  .git-blame-ignore-revs
Due: valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges

v4l2object: mark jpeg as parsed
  subprojects/gst-plugins-good/docs/gst_plugins_cache.json
  subprojects/gst-plugins-good/sys/v4l2/gstv4l2object.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

msdkallocator_d3d: add gst_msdk_frame_free callback function
  subprojects/gst-plugins-bad/sys/msdk/gstmsdkallocator_d3d.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

msdkallocator_d3d: add alloc callback function for d3d allocator
  subprojects/gst-plugins-bad/sys/msdk/gstmsdkallocator_d3d.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

msdkdec: add d3d11 caps for srcpad
  subprojects/gst-plugins-bad/sys/msdk/gstmsdkav1dec.c
  subprojects/gst-plugins-bad/sys/msdk/gstmsdkdec.c
  subprojects/gst-plugins-bad/sys/msdk/gstmsdkh264dec.c
  subprojects/gst-plugins-bad/sys/msdk/gstmsdkh265dec.c
  subprojects/gst-plugins-bad/sys/msdk/gstmsdkmjpegdec.c
  subprojects/gst-plugins-bad/sys/msdk/gstmsdkvp9dec.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

msdkdec: expand retry times to 1s
  subprojects/gst-plugins-bad/sys/msdk/gstmsdkdec.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

msdkdec: acquire buffer from video pool on Windows
  subprojects/gst-plugins-bad/sys/msdk/gstmsdkdec.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

msdkdec: add d3d11 pool during negotiation
  subprojects/gst-plugins-bad/sys/msdk/gstmsdkdec.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

msdkdec: add thiz->ds_has_known_allocator for d3d11
  subprojects/gst-plugins-bad/sys/msdk/gstmsdkdec.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

msdkdec: delete use_video_memory
  subprojects/gst-plugins-bad/sys/msdk/gstmsdkdec.c
  subprojects/gst-plugins-bad/sys/msdk/gstmsdkdec.h
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

examples: webrtc/janus/rust: add mandatory ws HTTP request headers
  subprojects/gst-examples/webrtc/janus/rust/Cargo.lock
  subprojects/gst-examples/webrtc/janus/rust/src/janus.rs
Due: cerbero trigger

uridecodebin3: Handle redirection errors
  subprojects/gst-plugins-base/gst/playback/gstplaybin3.c
  subprojects/gst-plugins-base/gst/playback/gsturidecodebin3.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

qtdemux: Fix seek adjustment with SNAP_AFTER flag
  subprojects/gst-plugins-good/gst/isomp4/qtdemux.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

vulkan: silence gobject-instrospection warnings
  subprojects/gst-plugins-bad/gst-libs/gst/vulkan/gstvkfence.c
  subprojects/gst-plugins-bad/gst-libs/gst/vulkan/gstvkinstance.c
  subprojects/gst-plugins-bad/gst-libs/gst/vulkan/gstvkqueue.c
  subprojects/gst-plugins-bad/gst-libs/gst/vulkan/gstvkutils.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

nvh264encoder: Fix template caps
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvh264encoder.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

vulkan: gl: change symbols to static
  subprojects/gst-plugins-bad/gst-libs/gst/vulkan/win32/gstvkwindow_win32.c
  subprojects/gst-plugins-base/gst-libs/gst/gl/win32/gstglwindow_win32.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

sys: avoid double definition of symbol MEDIASUBTYPE_I420
  subprojects/gst-plugins-bad/sys/directshow/gstdshow.cpp
  subprojects/gst-plugins-bad/sys/mediafoundation/gstmfcapturedshow.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

bin: fix documentation about event forwarding
  subprojects/gstreamer/gst/gstbin.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

uridecodebin3: Remove play items that were never connected
  subprojects/gst-plugins-base/gst/playback/gsturidecodebin3.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

opusenc: Add support for encoding >8 channels and unknown/unpositioned layouts
  subprojects/gst-plugins-base/docs/plugins/gst_plugins_cache.json
  subprojects/gst-plugins-base/ext/opus/gstopusenc.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

mpegtsdemux: Fix handling of explicit Opus channel mapping
  subprojects/gst-plugins-bad/gst/mpegtsdemux/tsdemux.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

opusdec: Add support for decoding >8 channels
  subprojects/gst-plugins-base/docs/plugins/gst_plugins_cache.json
  subprojects/gst-plugins-base/ext/opus/gstopusdec.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

opusenc: Use downstream channel configuration when using channel mapping family 255
  subprojects/gst-plugins-base/ext/opus/gstopusenc.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2019 amd64, build vs2019 x86, build vs2019 arm64 uwp, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger
